[2018-10-10 14:29] dselman opened #7 "Codegen should be a separate npm module"
The Codegen functionality drags in quite a few dependencies. We should move that into a separate module `composer-concerto-tools` ?

Add the `cto` command line utility to it as well.

[2018-10-10 21:13] dselman opened #9 "Create a new VS Code add-on that is specific to Concerto"
The existing add-on supports a lot more than just CTO files, and doesn't handle `import` ... `from` consistently.

https://marketplace.visualstudio.com/items?itemName=HyperledgerComposer.composer-support-client

[2018-10-11 11:26] dselman opened #10 "HTML Form generation"
It would be lovely to have a code generator that generates an HTML form from a modelled type. The form should generate valid JSON for the type so that it can be used to create or update instances.

There is the start of such a thing here:
https://github.com/uchibeke/composer-form

[2018-10-19 13:31] dselman opened #11 "Implicit super types specification"
We allow the `ModelManager` to specify implicit super types for class declarations (currently via a map).  The map based approach has a couple of issues:
1. It doesn't work well when multiple system namespaces have been added as the return value is a type name without a namespace
2. It is not clear whether we should only allow implicit super types when there is no explicit super type
3. Should we

[2018-10-19 13:33] dselman opened #12 "isRelationshipTarget and isSystemRelationshipTarget"
These methods should be refactored (removed?) now that Concerto has been moved out of composer-common.

We need to tighten up the spec with respect to how we use relationships.

[2018-10-19 13:35] dselman opened #13 "Identifiers declared in super types spec"
There's ambiguity in whether we should allow a class to override an identifying field declared in a super type.

For example, this code is currently disabled:
https://github.com/hyperledger/composer-concerto/blob/master/lib/introspect/classdeclaration.js#L201

[2018-10-19 13:40] dselman commented on #11
One approach would be for `ClassDeclaration.getSuperType` to delegate to its `ModelManager`. This would allow sub-classes of `ModelManager` to override the `ClassDeclarations` explicit super type based on decorators, namespace, maps etc.

[2018-10-19 13:47] dselman opened #14 "getSystemType specification"
The method `AssetDeclaration.getSystemType` (and in all other types) is under specified and implies that there is a single system namespace.

[code]

[2018-10-19 13:48] dselman opened #15 "isSystemType specification"
Again, this implies that there is a single system namespace.

[code]

[2018-10-19 14:10] jeromesimeon commented on #13
Do we actually allow override at all?! With what semantic?

[2018-10-19 14:14] jeromesimeon commented on #11
What's the use case for implicit super types? The only example I have in mind is when you write `e.g., asset Foo { ... }` there is an implicit `Asset` super type.

[2018-10-22 11:56] dselman opened #16 "Could not find super type undefined when no system model"
If you use the ModelManager without a system model specified you get a failure.

IllegalModelException: Could not find super type undefined File './models/domain.cto': line 9 column 1, to line 17 column 2.

[2018-10-23 11:41] #16 closed

[2018-10-28 09:12] dselman opened #21 "Cannot declare identifying field for a transaction that is not in the system model"
We should remove this code so that people can use Concerto without using a system model.

https://github.com/hyperledger/composer-concerto/blob/master/lib/introspect/transactiondeclaration.js#L71

[2018-10-29 10:28] dselman opened #23 "Transactions and events should have a timestamp field"
The loopback visitor assumes that transactions have a timestamp field, while the grammar doesn't impose this (the system model does).

We should automatically add a `timestamp` field to all transactions.

[2018-10-30 13:35] dselman commented on #23
Fixed

[2018-10-30 13:35] #23 closed

[2018-10-30 13:36] dselman commented on #7
Complete. The only `codegen` code that is left is used by the build system.

[2018-10-30 13:36] #7 closed

[2018-11-14 21:18] mttrbrts commented on #10
The latest work is available in a fork of Uchi's work here, https://github.com/mttrbrts/concerto-form

Eventually, I see this ending up in https://github.com/hyperledger/composer-concerto-tools

[2018-12-06 16:30] jeromesimeon opened #26 "Text variant annotation for model enumerations"
To support textual variants of the same enumeration element in a model, the model definition should allow annotations that enumerate text alternatives.

The annotation could also be used to capture language-specific variants of a model element.

This would clean up model enumerations so that they only need to define a single element per semantic element. Logic that operates on enumerations (for ex

[2018-12-06 16:31] jeromesimeon commented on #26
From @dselman https://github.com/accordproject/cicero/issues/111:

My inclination is:

[code]

With the second key (plural) optional.

Note that in its current state Composer doesn't support multiple decorators with the same name on the same element.

Also, note that while an external localization file would be very nice for translation purposes it would be tricky to make it work with models that

[2018-12-22 00:03] jeromesimeon opened #197 "Runtime execution over missing fields when field is optional"
The current JavaScript backend code generation expects JSON with a field containing `null` for optional fields in the CTO model.

So for a concept:
[code]

The expected serialization is currently:
[code]

This is inconsistent with the way Concerto validates optional fields, instead assuming the default serialization is:
[code]

It would be useful to support both serialization in Ergo.

Note that i

[2019-01-12 19:20] #12 closed

[2019-01-12 19:20] #9 closed

[2019-01-12 19:20] #11 closed

[2019-01-12 19:20] #15 closed

[2019-01-12 19:20] #14 closed

[2019-01-12 19:20] #13 closed

[2019-01-18 21:22] jeromesimeon opened #101 "java.time.Instant rather than java.util.Date in the Java target format?"
Is it recommended best practice to use Java.time rather than the older (and considered poorly designed) Java.util.date, as currently used by the `concerto-tools` Java target.

## Context

This isn't a bug, but a suggestion for improvement.

## Expected Behavior

CTO concepts making use of the `DateTime` atomic types should generate Java classes with fields using `java.time.Instant`.

## Actual Beh

[2019-01-30 11:03] #10 closed

[2019-02-18 21:49] #26 closed

[2019-03-01 20:52] dselman opened #121 "Cannot have a property on a request called validate"
Get a runtime failure because when we try to call the validate function on the Concerto object we are actually accessing the field.

[2019-03-06 13:27] jeromesimeon opened #27 "serialization/deserialization does not preserve timezones in dates"
## Context
Using Concerto for data models with DateTime values in specific timezones

## Expected Behavior
Deserialization/serialization should preserve the original timezone.

## Actual Behavior
Deserialization/serialization shifts all dates to `Z` timezone.

## Possible Fix
Unclear what changes are needed.

## Steps to Reproduce

Some sample code, and a trace:
Model:
[code]
JavaScript code:
[cod

[2019-03-06 13:59] jeromesimeon commented on #27
A bit of fact finding:
I believe the corresponding code for deserialization is at:
https://github.com/hyperledger/composer-concerto/blob/280e1e99c1b3369b3e24ff035f0d1dcbe32d6a88/lib/serializer/jsonpopulator.js#L214
and the corresponding code for serialization is at:
https://github.com/hyperledger/composer-concerto/blob/280e1e99c1b3369b3e24ff035f0d1dcbe32d6a88/lib/serializer/jsongenerator.js#L164

[2019-03-19 12:48] jeromesimeon commented on #27
This is resolved with the latest version. Thanks.

[2019-03-19 12:48] #27 closed

[2019-03-27 15:55] jeromesimeon opened #30 "[mkdirp should be a dependency] dependencies in composer concerto"
## Context

`mkdirp` appears as a `devDependency` but is needed at runtime in the filewriter.

## Expected Behavior

One should be able to install and use composer-concerto without adding `mkdirp` as a dependency themselves.

## Actual Behavior

If installing composer-concerto without adding `mkdirp` manually, node.js complains of a missing module.

## Possible Fix

Move `mkdirp` from `devDependen

[2019-03-28 23:11] jeromesimeon commented on #30
It seems like the question of `mkdirp` is only the top of the iceberg. Here is a more detailed analysis of the listed dependencies in both `composer-concerto` and `composer-concerto-tools`:

**Composer Concerto:**

In dependencies, and used in `./lib`:

[code]

*** Not in dependencies, but used in `./lib`:

[code]

**Composer Concerto Tools:***

In dependencies, and used in `./lib`:

[code]

*** I

[2019-03-29 14:28] dselman commented on #30
Yes, if you could submit PRs for both that would be great. Upgrading debug will hopefully not be an issue.

On your second point, do you have more details?

[2019-03-29 14:36] jeromesimeon commented on #30
Great. I'll start working on those PRs.

About the second point about `lib/tools`: when looking at the dependencies, `yargs` and `node-plantuml` only show up in `lib/tools` which AFAICT is only used in `./test` but isn't exposed in the main index. I wasn't sure if those tools were being used or could be moved to testing (and the corresponding dependencies could go to `devDependencies`.

I won't ta

[2019-03-29 16:56] jeromesimeon commented on #30
PR in #32

Note that It took the liberty to bump the Composer Concerto version to 0.70.2 in the package.json

[2019-03-29 17:29] jeromesimeon commented on #30
Corresponding PR for `composer-concerto-tools` in https://github.com/hyperledger/composer-concerto-tools/pulls

This is WIP since the `package.json` will have to be updated to the not yet release version of `composer-concerto`

[2019-05-15 20:49] jeromesimeon opened #100 "[Feature] Provide a toString() method for enumerated values in Java"
It would be convenient to provide a way to easily get the string name for enumerated values. For instance to get the name of a currencyCode as a Java String.

## Context

It's not a bug, but feature request.

## Expected Behavior

Calling `myEnum.toString()` should return the name of the enum as a Java String.

## Actual Behavior

The application has to create string representations (e.g., through

[2019-05-28 20:57] #30 closed

[2019-07-04 13:10] j4m3sb0mb opened #43 "cannot find module error"
When I use composer-concerto into another package  and then I use this new package into an application it throws this error:
`Error: Cannot find module 'doctrine'`

## Context
doctrine and acorn are required by the application but have been moved in devDependencies

## Expected Behavior
no errors

## Actual Behavior
this error:
`Error: Cannot find module 'doctrine'`

## Possible Fix
move doctrine

[2019-07-04 15:34] jeromesimeon commented on #43
It think this is a dependency issue. I believe `doctrine` and `acorn` should be in the `dependencies` category rather than the `devDependencies` part of the `package.json`.

[2019-07-04 16:04] jeromesimeon commented on #43
For some reason there has been a bit of ping pong on those:

https://github.com/hyperledger/composer-concerto/commit/67b7150bcee9c8c1e1c5f4005ab019c425810fa1#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

https://github.com/hyperledger/composer-concerto/commit/533b80f1e28be57de7a2806ee827ecab58a98536

And a PR to put those back to `dependencies` is at #44

[2019-07-04 17:50] j4m3sb0mb commented on #43
thank you

[2019-07-08 10:08] #43 closed

[2019-07-08 17:46] jeromesimeon opened #46 "Move `parsejs` and dependencies to the `./scripts` directory"
As far as I can tell, `./lib/codegen/parsejs.js` is only used as a developers dependency for generating the API documentation. It should be moved to a build-time directory such as `scripts`.

## Context

There are a number of dependencies e.g., `acorn` and `doctrine` which are not needed at runtime, but are placed in the `./lib` directory. This means any consumer of the `composer-concerto` package

[2019-07-08 18:04] jeromesimeon opened #47 "Avoid `instanceof` which leads to runtime errors with deep npm dependencies"
The use of `instanceof` to check whether an object is of a class leads to unreliable check when importing Composer Concerto in projects with deep npm dependencies.

## Context

Composer Concerto uses `instanceof` checks e.g., here https://github.com/hyperledger/composer-concerto/blob/37189e52c4f52d13cbd862b38d36a64022976398/lib/serializer/resourcevalidator.js#L72 or here https://github.com/hyperle

[2019-08-16 08:16] mttrbrts opened #158 "Serialization of Infinity is null"
**Describe the bug**
When an expression sets a value in the state to `Infinity`, this gets serialized (through `JSON.stringify`?) to `null`. This has the effect of invalidating the state instance and rendering the contract unable to accept new requests.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description

**To Reproduce**
Steps to reproduce

[2019-09-14 05:31] dselman opened #54 "Remove FileWriter"
It would be great to move FileWriter into its own or another module (concerto-tools?). It depends on `mkdirp` which drags in `minimist`.

[2019-09-14 05:42] dselman opened #55 "Optimize size of Concerto parser"
The JS for the CTO parser is currently very large and should be optimised to make the web packed version of Concerto much smaller. The parser currently includes many pegjs rules inherited from JS that could be removed.

 [74] ./lib/introspect/parser.js 545 KiB {0} [depth 3] [built]

This is also an opportunity to take a step back and evaluate other parser generators. I am particularly interested i

[2019-09-14 05:45] dselman opened #56 "Move the Concerto documentation into the AP documentation site"
We should move the documentation for the CTO file format, runtime etc into the AP technical docs for publication and management:
https://github.com/accordproject/techdocs

Generate the JSDoc API docs and integrate into the technical docs.

- [x] Move README documentation to techdocs
- [x] generate JSDoc API in techdocs
- [ ] Review material from https://docs.accordproject.org/docs/next/model-conce

[2019-09-14 05:46] dselman opened #57 "Update npm module name and build scripts"
Update the Concerto module name to `@accordproject/concerto` and use the standard AP release process and build scripts.

[2019-09-14 10:28] jeromesimeon commented on #47
There still seems to be a few occurrences of instance of around: ```
bash-3.2$ grep -r instanceof lib
lib/serializer/typedstack.js:        if(expectedType && !(obj instanceof expectedType)) {
lib/serializer/typedstack.js:        if(expectedType && !(result instanceof expectedType)) {
lib/serializer/jsonpopulator.js:        if (thing instanceof ClassDeclaration) {
lib/serializer/jsonpopulator.js:

[2019-09-14 12:41] jeromesimeon commented on #57
Fixed in PR #58

[2019-09-15 09:19] #57 closed

[2019-09-16 03:56] dselman opened #62 "Remove support for system models"
Support for system models has complicated the codebase and makes it hard to reuse models, as they now have an *implicit* dependency on a system model.

On balance I think we should make a breaking change and remove the support for system models, forcing people to explicitly declare dependencies on their own models using an `import` with a `from`.

[2019-09-16 14:29] jeromesimeon commented on #62
A few comments:
1. We need a definition for what the structure of a `transaction` `event` `participant` etc is. Those need to be built in in some sense
2. One of the motivations for the current structure is to be able to switch those systems model (I think two main instances are for hyperledger composer and for Cicero). There are a set of defaults for hyperledger. This could be simplified if this

[2019-09-16 19:58] jeromesimeon commented on #47
Confirming that this works. The approach is to override `hasInstance` in the corresponding classes, which effectively underlies the implementation for `instanceof`.

[2019-09-17 12:56] irmerk opened #64 "Release Notes (v0.20 Project)"
## Tasks
- This will track and construct the overall release notes for this repo in relation to the `v0.20` project
  - Will cover everything from the inception of this repo

## Related Issues:
- N/A

[2019-09-17 13:03] irmerk opened #65 "AP Documentation Sync"
## Tasks
- Ensure layout and structure of README is consistent with other AP repos
- Check if `DEVELOPERS` and `CONTRIBUTING` is tailored to this repo specifically

## Related Issues:
- [Cicero UI Issue 65](https://github.com/accordproject/cicero-ui/issues/65)
- [Markdown Transform Issue 18](https://github.com/accordproject/markdown-transform/issues/18)

## Hacktoberfest:
This issue can provide fo

[2019-09-17 13:04] irmerk commented on #56
## Hacktoberfest:
This issue can provide for multiple pull requests.

[2019-09-17 14:21] jeromesimeon opened #66 "Support for offline download of external models"
**Is your feature request related to a problem? Please describe.**
The ability to resolve and download external model to a local directory.

**Describe the solution you'd like**
A command line tool which lets people resolve external model references (with `from`) and generate files in a given directory.

**Additional context**
In addition to being a useful tool for users, some of the Accord Projec

[2019-09-17 14:25] jeromesimeon opened #67 "Command line tool for Concerto"
**Is your feature request related to a problem? Please describe.**
It would be useful to offer a command line interface (CLI) for concerto. This could be used to test whether a JSON document validate against a model, for generating other schema languages (`XML Schema`, `JSONSchema`, etc) from a model, or to resolve external models (See #66).

**Describe the solution you'd like**
The CLI could be c

[2019-09-17 14:28] jeromesimeon opened #68 "Consolidate Concerto code into a single repository"
**Is your feature request related to a problem? Please describe.**
The code is currently split across two projects: `concerto` and `concerto-tools`. It might be useful for maintenance (versioning, testing) if those are consolidated under a single project.

**Describe the solution you'd like**
A mono repo using `lerna` which would include:
- `concerto-core` the core model manager/validator
- `conce

[2019-09-17 15:57] mttrbrts commented on #68
:+1:

[2019-09-18 07:34] mttrbrts commented on #68
We should also add [concerto-ui](https://github.com/accordproject/concerto-ui) to this list

[2019-09-18 17:02] jeromesimeon commented on #68
@mttrbrts I'm less sure I like the idea of moving `concerto-ui` for a couple of reasons:
- I still like the idea of separating the "core" stack from the UI stack -- (they may be on slightly different release schedule, require different kinds of developers expertise, are maintained by different people in the team)
- concerto-ui is already a monorepo...

[2019-09-19 18:06] jeromesimeon commented on #62
Why having a top type would be useful: https://github.com/accordproject/ergo/issues/420

[2019-09-19 18:16] dselman commented on #62
1. Agreed
2. Yes, I think this is acceptable. We can preserve the hyperledger system model as a "standard" model on models.accordproject.org so that people can import it into their models and refactor if required.
3. Agreed. `concept` seems like a natural candidate, but that may have some API implications.

[2019-09-27 15:27] #66 closed

[2019-09-27 15:28] #68 closed

[2019-09-27 19:04] michizhou commented on #65
I can definitely tackle this issue! Feel free to assign it to me.

[2019-10-02 14:19] gahag commented on #54
Can I work on this to move FileWriter to codegen in concerto-tools?

[2019-10-02 14:23] gahag commented on #46
Was the pull request from @mttrbrts  successful, or does this still have to be done? Can I work on it?

[2019-10-02 15:18] jeromesimeon opened #74 "Concerto Core has the wrong package name"
**Describe the bug**
Wrong package name.

The structure of the lerna packages in the code is:
[code]

But the package name (and the published package on npmjs) for `concerto-core` is still `concerto`. I think it would make sense to change that to avoid confusion, and align with other Accord Project packages structure/naming.

Corresponding line, I believe:
https://github.com/accordproject/concerto

[2019-10-02 15:38] Niladri24dutta commented on #74
@jeromesimeon created a PR to update the package name

[2019-10-03 09:57] christyjacob4 commented on #56
Can I work on this @irmerk @dselman

[2019-10-03 13:08] jeromesimeon commented on #74
Thanks @Niladri24dutta ! That's great. I would love to get @mttrbrts 's feedback on this issue since he did the refactoring into a monorepo.

[2019-10-03 13:09] mttrbrts commented on #74
@jeromesimeon I've left some minor comments in the PR. otherwise it LGTM 👍

[2019-10-03 13:18] jeromesimeon commented on #74
@mttrbrts Great thanks! I wanted to make sure you agree with the issue in the first place!

[2019-10-03 13:20] jeromesimeon commented on #74
A few things that should be done for this:
- Make sure all references across packages use the new name. Most of them are in the `concerto-tools` package. Here is a grep on my local copy:
[code]
bash-3.2$ grep -r require packages/*/lib | grep concerto | grep accordproject | grep -v '@accordproject/concerto-tools'
packages/concerto-cli/lib/commands.js:const ModelManager = require('@accordproject/con

[2019-10-03 13:23] jeromesimeon opened #81 "Concerto CLI usage should use the "concerto" name instead of the generic "cli""
The concerto CLI help shows:

[code]

It should say instead:
[code]

[2019-10-03 13:57] christyjacob4 commented on #56
Hey @irmerk  Can you please help me get started?

[2019-10-03 14:00] mttrbrts opened #82 "Automated API Verification should prompt user to change the Typescript definition"
**Is your feature request related to a problem? Please describe.**
Now that Concerto has a TypeScript definition, #80 we need to make sure that it is kept up to date. Doing this automatically will be difficult because JS doesn't have all of the info required to generate TS definitions. However, we can alert developers who make API changes using the existing `versionchecker.js` script.

**Describe

[2019-10-03 14:06] jeromesimeon opened #84 "Is the linter used?"
If I run lint on `concerto-core`:

[code]

[2019-10-03 14:07] irmerk commented on #56
I would be following through the [releases](https://github.com/accordproject/concerto/releases) as well as some of the issues tracking documentation for the overall `v0.20` release propagation:

https://github.com/accordproject/concerto/issues/64
https://github.com/accordproject/techdocs/issues/111
https://github.com/accordproject/techdocs/issues/108
https://github.com/accordproject/techdocs/issue

[2019-10-03 14:13] jeromesimeon commented on #81
Fixed in #85

[2019-10-03 14:13] #81 closed

[2019-10-03 14:25] christyjacob4 commented on #56
Just to clarify, I'd have to add a section to this called Concerto?
![test](https://user-images.githubusercontent.com/20852629/66135529-b9f52d80-e617-11e9-98b3-bcb1f85144bf.png)

[2019-10-03 14:28] irmerk commented on #56
Unsure, I think we'd need more input from @jeromesimeon, @dselman, @mttrbrts, and @4katie.

So far my thoughts are having more information [here](https://docs.accordproject.org/docs/next/model-concerto.html)

[2019-10-03 14:32] christyjacob4 commented on #56
Okay sure @irmerk . What do you suggest I do in the mean time?

[2019-10-03 14:56] jeromesimeon commented on #84
An update: the linter is _not_ used... I'm looking into it.

[2019-10-03 15:29] jeromesimeon commented on #84
Fixed in PR #86

[2019-10-03 15:29] #84 closed

[2019-10-03 17:26] jeromesimeon opened #88 "Add coverall coverage report and badge"
We should report test coverage for the whole monorepo, including a badge in the README.

Tasks:
- [x] Add test coverage to `Cicero-cli`
- [x] Add combined coverage report for all the packages and publish to coverall
- [x] Add badge to README

[2019-10-03 21:52] Niladri24dutta commented on #74
I have made the requested changes in the PR

[2019-10-03 22:48] jeromesimeon opened #89 "Concerto CLI fails on some Accord Project models"
**Describe the bug**
The CLI (e.g., `concerto generate`) fails on well formed and valid models from the Accord Project.
A clear and concise description of what the bug is.

**To Reproduce**

E.g., using examples from [cicero-models](https://github.com/accordproject/models/):
[code]

**Additional context**
This is most likely due to distinct systems models. See also #62

[2019-10-03 23:19] jeromesimeon commented on #74
Well done @Niladri24dutta ! You PR is merged now, and the corresponding package is published on npm:
https://www.npmjs.com/package/@accordproject/concerto-core

[2019-10-03 23:19] #74 closed

[2019-10-04 00:48] jeromesimeon commented on #67
I would really like a `concerto validate` !

[2019-10-04 04:23] jeromesimeon commented on #67
Added in PR #94

[2019-10-04 04:23] #67 closed

[2019-10-04 05:31] Niladri24dutta commented on #74
@jeromesimeon
Just a question in the installation of npm document above , do we need to update the commands which refers to  `@accordproject/concerto`  e.g `npm install @accordproject/concerto --save`

[2019-10-04 05:48] Niladri24dutta commented on #88
@jeromesimeon  is there any available badge that we can use for test coverage? I think we already have test coverage in travis build

[2019-10-04 06:35] vipul-vinsol commented on #89
I wanna work on this one if no one else is working on this @jeromesimeon

[2019-10-04 06:38] vipulbhj commented on #89
I wanna work on this, can I try this if no one else is working on it @jeromesimeon

[2019-10-04 07:21] dselman commented on #89
The issue is that the `ModelManager` is created without a system model:
https://github.com/accordproject/concerto/blob/master/packages/concerto-cli/lib/commands.js#L64

In AP we use this system model:
https://github.com/accordproject/ergo/blob/master/packages/ergo-compiler/lib/apmodelmanager.js#L21

A quick fix would be to use the same system model for `concerto generate` but we really should remo

[2019-10-04 07:32] vipulbhj commented on #89
If that is the case, I should patch this first with the above suggested approach and then once the bug is fixed we can decide how to remove system model completely ??

[2019-10-04 12:37] jeromesimeon commented on #89
@vipulbhj Sounds like a pretty good plan.

For the first step, one question will be _which_ system model since Accord Project has one and at least Hyperledger Composer has another, and other users may have used that capability and built their own. One possibility would be to have an option `--ctoSystem` which lets the user specify a system model. If we have a default one, which one should it be. I

[2019-10-04 12:39] jeromesimeon commented on #89
For reference, the way to add the system model to the model manager is illustrated here (using the Accord Project system model): https://github.com/accordproject/ergo/blob/9e216d86c87c6b67f640e7982f0e639a792e6207/packages/ergo-compiler/lib/apmodelmanager.js#L44

[2019-10-04 12:47] jeromesimeon commented on #74
I think this should be fixed actually. It's probably just npm getting a little confused since we haven't had a first release yet. If you look at the latest tagged "unstable" version you have:
https://www.npmjs.com/package/@accordproject/concerto-core/v/0.80.4-20191004042248

(or in the repo itself)

[2019-10-04 12:58] vipulbhj commented on #89
Thanks for the reference material. For the first step this does sound like a good plan. I be trying to dig more in the command code today and I will try to add the option as discussed. I am relatively new here so I am gone go with your suggestion for default, if that's okay

[2019-10-04 13:10] jeromesimeon commented on #89
That's great @vipulbhj ! If you start a PR with some of the basic idea in place for that new option, I can review while the discussion about default model takes place.

Since `cicero-cli` is brand new, we do not have to worry whether this breaks anyone's code.

[2019-10-04 13:11] jeromesimeon commented on #89
Just a caveat: this will probably a short lived fix, since we'll likely remove the notion of system model soon after!

[2019-10-04 13:23] vipulbhj commented on #89
I will try to submit a PR soon

[2019-10-04 13:33] Niladri24dutta commented on #74
@jeromesimeon that makes sense now. is this PR will be elligible for hacktoberfest?

[2019-10-04 13:48] jeromesimeon commented on #88
@Niladri24dutta You can find test coverage badge examples in some of the other projects. e.g., https://github.com/accordproject/cicero/blob/master/README.md

The issue here is that I don't think we are reporting those properly to coverall. Also the `cicero-cli` does not have code coverage in place.

[2019-10-04 15:24] #88 closed

[2019-10-04 16:39] jeromesimeon opened #98 "Better Error reporting for Concerto CLI"
**Is your feature request related to a problem? Please describe.**
Errors reported by the Concerto CLI are not terribly well formatted, and sometimes include duplicate text.

**Describe the solution you'd like**
Nicer looking errors, maybe using the logger we use in other parts of the Accord Project code base. Properly print the useful part of the error, without repetition.

**Additional context**

[2019-10-04 16:46] jeromesimeon opened #99 "Add file location information to ValidationExceptions and TypeNotFoundExceptions when possible"
**Is your feature request related to a problem? Please describe.**
Most errors include location information, but validation and type not found errors do not.

**Describe the solution you'd like**
When validating a JSON instance against a model fails, provide location information for where the error occurred in the JSON instance.

When loading a model which has an unknown type, provide location inf

[2019-10-04 18:47] jeromesimeon commented on #98
Decent cleanup in #102 including: logger and removal of duplicate error text.

Further improvements can be tracked in other issues, such as #99

[2019-10-04 18:47] #98 closed

[2019-10-04 19:08] jeromesimeon commented on #62
Small fact finding mission. I can't seem to find a clear dependency from Concerto to HL:
[code]

With that project being deprecated, can we assume supporting the hyper ledger composer system model is not a requirement?

[2019-10-04 19:10] dselman commented on #62
Yes. Composer still has an old/private copy of Concerto packaged with it - so those people will be fine.

[2019-10-04 19:10] jeromesimeon commented on #62
The current Accord Project system model is as follows:
[code]
Defined in: https://github.com/accordproject/models/blob/master/src/cicero/base.cto

[2019-10-04 19:11] jeromesimeon commented on #62
Ah, I see. Thanks for clarifying!

[2019-10-04 19:41] jeromesimeon commented on #62
The fundamental role of the systems model is to define the type names `Asset` `Participant` `Transaction` and `Event` and the build-in attributes/fields in them (e.g., in the Accord Project system model `Asset` has no built-in field and `Transaction` has a single builtin `transactionId` field.

With that in mind I could see a couple of options:
1. Fold the current Accord Project system model and m

[2019-10-04 19:47] jeromesimeon commented on #62
One more question on this. Where can I find a definition of the hyperledger system model?

[2019-10-04 20:03] jeromesimeon commented on #62
[For what it's worth, I think my preferred options would be 2. + `extends Concept` essentially equivalent to a built-in system model as follows:
[code]

[2019-10-04 20:16] erikbfeeley commented on #82
Hey, just forked and started to work on this issue!

[2019-10-04 20:45] jeromesimeon commented on #62
Just to make sure we are clear option 2. will break every Accord Project templates! There is certainly a very big benefit in 1. for backward compatibility in other Accord Project projects.

[2019-10-05 06:20] vipulbhj commented on #89
Hey @jeromesimeon, make some first rough draft changes. Mind taking a look ??

[2019-10-05 13:14] #82 closed

[2019-10-05 17:18] Parikshit-Hooda opened #106 "typo in readme"
## Context

typo in readme (optionall)

## Expected Behavior

typo free readme

## Actual Behavior

has a typo

## Possible Fix

change the spelling
## Steps to Reproduce

1. visit the repo's readme
2.
3.
4.

## Existing issues

- [ ] [Stack Overflow issues](http://stackoverflow.com/tags/concerto)
- [ ] [GitHub Issues](https://github.com/accordproject/concerto/issues)

## Context

skimming through

[2019-10-06 16:08] dselman commented on #62
Thanks for the useful analysis @jeromesimeon. I suggest we take this up at the next WG meeting.

[2019-10-06 19:00] jeromesimeon opened #110 "Support variant serialization/deserialization for the latest Ergo runtime"
**Is your feature request related to a problem? Please describe.**
Ergo 0.20.* relies on a few changes to the Concerto serialisation that have to be consistent with the Ergo JavaScript run time. The changes include:
- Alternative representation for enums consistent with the new typed enums in Ergo
- Alternative representation for `Integer` and `Long` values to ensure proper printing in `toString`

[2019-10-06 19:03] jeromesimeon commented on #110
Initial code for this can be found in https://github.com/accordproject/ergo/commit/500b0f7c2963577c0ad92eea11a5749720d69e54

PR which supports this new option and passes all the tests is available at:
https://github.com/accordproject/concerto/pull/111

[2019-10-06 19:51] jeromesimeon commented on #110
Fixed in #111

[2019-10-06 19:51] #110 closed

[2019-10-07 09:43] kishiiv commented on #101
I can do it for you

[2019-10-08 17:15] jeromesimeon commented on #54
I'm unclear whether we should remove `FileWriter` now that we have code in `concerto-core` to resolve external models and drop them to disk, unless we feel like moving that functionality entirely in a different place e.g., `concerto-cli`.

[2019-10-08 17:39] jeromesimeon commented on #89
Fixed in #113 . Thanks for your help @vipulbhj !

[2019-10-08 17:40] #89 closed

[2019-10-08 18:05] jeromesimeon commented on #106
@Parikshit-Hooda Can you please be specific? The description makes it impossible to know what the issue is and whether this has been fixed or not.

[2019-10-08 18:09] Parikshit-Hooda commented on #106
in the readme markdown, we have 'optionall' written in a place where there should be 'optionally'. Please refer to pull#107(https://github.com/accordproject/concerto/pull/107). Although, now I see that some checks have not passed. I shall submit a corrected PR later.

[2019-10-08 19:08] jeromesimeon commented on #106
In #114

[2019-10-08 19:08] #106 closed

[2019-10-09 20:11] shahsank3t opened #115 "Typo in DEVELOPERS.md"
**Describe the bug**

1. In DEVELOPERS.md ([here](https://github.com/accordproject/concerto/blob/master/DEVELOPERS.md)), need to replace `Cicero` with `Concerto`.

2. In section building concerto ([here](https://github.com/accordproject/concerto/blob/master/DEVELOPERS.md#building-concerto)), URL of the main repository to be added as upstream has a typo in it. `acccordproject` should be `accordproj

[2019-10-09 20:12] shahsank3t commented on #115
@dselman -  can you please add some labels to this and assign it to me so I could quickly open a PR for this?

[2019-10-09 21:29] andrearizzello commented on #115
I can do that :) 👍

[2019-10-09 21:31] shahsank3t commented on #115
@andrearizzello  - I've already started on it :)

[2019-10-09 21:35] andrearizzello commented on #115
Oh, ok well in that case nevermind :)

[2019-10-09 21:41] shahsank3t commented on #115
@andrearizzello - since you already opened a PR, make sure you sign it as well in following way:
` git commit -s -m <you-message>` like DCO check will fail.
In your case right now, you can try the following command:
<img width="808" alt="Screenshot 2019-10-10 at 3 12 05 AM" src="https://user-images.githubusercontent.com/6761317/66522663-96e0e700-eb0b-11e9-98ac-8f38aa2d0199.png">

[2019-10-09 21:59] andrearizzello commented on #115
@shahsank3t i added the SignOff to my commit but i still see the error on the PR

[2019-10-11 14:33] jeromesimeon commented on #115
Fixed in #117

[2019-10-11 14:33] #115 closed

[2019-10-12 17:06] jeromesimeon commented on #101
Sorry I missed this @kishiiv That should be great if you are still up for it!

I would love to get feedback from @dselman or @mttrbrts on this.

In the meantime I'm assigning it to you.

[2019-10-12 17:10] jeromesimeon commented on #101
Technical note on this: We probably want to make sure that whatever type we pick plays well with Jackson https://github.com/FasterXML/jackson

We want to make sure that concerto object in JSON format containing DateTime will be loaded as proper JSON objects of class `java.time.Instant` if we make the switch. This should be tested somehow.

[2019-10-14 16:29] Shivansh2407 opened #120 "Link broken in Contributing.md"
There is a link to Code of Conduct link in contributing.md file that need to be fixed . It is a issue to be solved as soon as possible so that people are aware about accord code of conduct.

[2019-10-15 20:33] jeromesimeon commented on #54
FileWriter is still used in PlantUMLGenerator which is used in `parsejs.js` See #69.

[2019-10-15 21:52] jeromesimeon commented on #54
Addressed as part of #122 pending review

[2019-10-16 16:52] arshadkazmi42 opened #123 "Broken link in CONTRIBUTING.md"
Code of Conduct URL is broken in [CONTRIBUTING.md](https://github.com/accordproject/concerto/edit/master/CONTRIBUTING.md)

It is redirecting to https://github.com/accordproject/docs/blob/master/Accord%20Project%20Code%20of%20Conduct.pdf

I am sending a PR with this URL https://lfprojects.org/policies/code-of-conduct/

[2019-10-16 19:08] jeromesimeon opened #126 "Unused code in loadModule with dependency to npm-paths"
This seems to be dead code https://github.com/accordproject/concerto/blob/master/packages/concerto-core/lib/module/loadModule.js

I cannot find any use of it anywhere. Suggestion is to remove it and remove the corresponding `npm-paths` dependency.

[2019-10-16 19:20] jeromesimeon commented on #126
Fixed in #127

[2019-10-16 19:20] #126 closed

[2019-10-16 19:23] jeromesimeon commented on #123
Fixed in #124

[2019-10-16 19:23] #123 closed

[2019-10-17 14:54] irmerk commented on #65
Opening back up after 20 days stale.

[2019-10-17 14:56] irmerk commented on #56
I'm opening this back up as being stale.

@christyjacob4 like I said I think joining those would help with issues like this one.

[2019-10-17 15:15] michizhou commented on #65
@irmerk I deeply apologize for not updating you on my progress for this issue. I have been working on this, and should be able to get the documentation ready for review by later today. If you could reassign this issue to me, I would greatly appreciate it. Thank you.

[2019-10-17 17:02] parammittal16 commented on #120
Can I work on it?

[2019-10-17 17:54] jeromesimeon commented on #120
sure @parammittal16 !

[2019-10-21 13:17] parammittal16 commented on #120
@Shivansh2407 can u tell me the link which is to be replaced?

[2019-10-22 13:47] jeromesimeon commented on #56
`README` material has been moved to https://docs.accordproject.org/docs/next/model-concerto.html

[2019-10-22 13:49] #54 closed

[2019-10-22 13:49] jeromesimeon commented on #46
Moved to dev dependencies in #122

[2019-10-22 13:49] #46 closed

[2019-10-22 13:50] jeromesimeon commented on #64
Concerto `0.81.*` is published, used in Cicero `0.20`, with release notes here: https://github.com/accordproject/concerto/releases/tag/v0.82.1

Can we close this?

[2019-10-22 14:25] irmerk commented on #65
@michizhou what do you think the status is of this issue?

[2019-10-22 14:43] michizhou commented on #65
@irmerk I believe this issue is mostly resolved, though we can still leave it open so that others may contribute and fix any documentation mistakes I happened to miss.

[2019-10-22 14:53] jeromesimeon commented on #65
I would close it unless we have specific work we should do on it. People can open new issues if they find problems.

[2019-10-22 15:08] #65 closed

[2019-10-23 11:45] snehit31 commented on #64
Can i contribute?

[2019-10-23 14:12] #64 closed

[2019-10-24 15:15] j4m3sb0mb commented on #55
I've tried to modify the script that creates the parser, with optimize option set to size the size of parser.js is 132kb instead of 558kb

[code]

[2019-10-24 15:25] jeromesimeon commented on #55
@j4m3sb0mb Nice! Does that optimize version pass the tests?

[2019-10-24 15:27] j4m3sb0mb commented on #55
@jeromesimeon yes it does

[2019-10-24 15:32] jeromesimeon commented on #55
Thanks @j4m3sb0mb It's a relatively significant improvement. I don't see why we wouldn't do this for the time being. @dselman is traveling, but I can review a PR if you make one.

I would still leave this issue open for the other reasons listed (clean up of parser itself, investigate other parser generator technologies).

[2019-10-24 15:34] j4m3sb0mb commented on #55
yes

[2019-10-24 16:58] jeromesimeon commented on #55
@j4m3sb0mb

I have just seen this in the `pegjs` documentation:

[code]

Do you have any experience with performance related to this?

I haven't done much testing with `pegjs` myself, so I'll probably want to get some feedback on this from either @dselman or @mttrbrts

[2019-10-24 17:24] j4m3sb0mb commented on #55
@jeromesimeon no experience, sorry

[2019-10-25 13:05] fluctix commented on #101
i want to work on this

[2019-10-28 14:12] j4m3sb0mb opened #146 "concerto-cli compile command not working with target"
**Describe the bug**
`concerto-cli compile` command requires `target` as argument but then uses `argv.format` causing this error:
[code]

https://github.com/accordproject/concerto/blob/master/packages/concerto-cli/index.js#L82

[2019-10-28 14:18] jeromesimeon commented on #146
Good catch @j4m3sb0mb Thanks. I'll fix this ASAP.

[2019-10-28 14:50] jeromesimeon commented on #146
Fixed in #147 Will be in the next release.

Here is a test:
[code]

[2019-10-28 14:50] #146 closed

[2019-10-28 15:05] mttrbrts commented on #55
Thanks @j4m3sb0mb, the speed vs size tradeoffs aren't well understood for this library as far as I know.

The last time that I looked at this, I saw a similar improvement in compile-time for the `speed` optimized version, which is great for CLI use and online-use (post-loading). However, this is in contrast to the `size` optimized version, where allow faster page loads for online-use and smaller b

[2019-10-28 15:15] jeromesimeon commented on #55
I'll add two cents since @mttrbrts 's review really helped me understand what the questions are. I think I agree that speed during use matters more, even if that means the page initially loads a little slower (not sure how much slower really it's not that bad in Template Studio for instance). This is a one-time cost compared to the constant run-time cost when parsing.

[2019-10-28 15:23] mttrbrts commented on #55
To be a little more specific about `parser.pegjs`. This file was originally a copy of a parser for JavaScript which we added new rules to capture the structure for Concerto (The new rules are here, https://github.com/accordproject/concerto/blob/master/packages/concerto-core/lib/introspect/parser.pegjs#L1555).

However, most of the original rules are still there unused (for example more of sections

[2019-10-28 16:35] j4m3sb0mb commented on #55
@mttrbrts
I've tried to remove all lines from 540 to 1260, it doesn't break the parser and it pass all tests.
parser.js size is then 356,2kb with speed optimization

[2019-10-28 17:55] mttrbrts commented on #55
Excellent! That's a nice surprise.

I suspect that there are lots of other rules that aren't used too. For example:
- `URI` definition, is much more advanced than we need. I'm sure that that could be simplified.
- Tokens, L476
- Keywords, L210

Have some fun!

[2019-10-29 15:23] 4katie opened #151 "Confusing error message - Concerto CLI"
**Is your feature request related to a problem? Please describe.**
The error message that appears when I enter incorrect commands are confusing and quite generic.

[code]

**Describe the solution you'd like**
More informative error messages.

For example, this error message (when I used a wrong .json file) was quite helpful:
[code]

For the code snippet above, for example `concerto compile clause.

[2019-11-07 10:39] dselman opened #153 "Ability to save a ModelManager to a set of CTO files"
**Is your feature request related to a problem? Please describe.**
There is currently no mechanism to modify a ModelFile in memory and then persist those changes back out to disk.

**Describe the solution you'd like**
Add a visitor to concerto-tools that visits a ModelManager and generates CTO files that can be round tripped.

**Additional context**
This feature would allow someone to build a grap

[2019-11-08 22:48] jeromesimeon commented on #55
Did a bit more in #154

The current parser looks pretty clean now. Tokens and Keywords have been cleaned up.

I'm unclear on the definition of what "more advanced than we need" is for URIs. Shouldn't we comply with some kind of URI spec? What would we remove?

Another area that might be simplified are Unicode character sets, but that's the same questions what do we believe the behaviour should be?

[2019-11-11 18:47] jeromesimeon commented on #151
With upcoming PR in #155
[code]

[2019-11-11 19:21] #151 closed

[2019-11-11 19:24] #120 closed

[2019-11-11 19:37] jeromesimeon commented on #56
Documentation for Concerto has been moved to : https://docs.accordproject.org/docs/model-concerto.html

Requests for improvements or fixes can be open as new issues directly on the documentation repo.

[2019-11-11 19:37] #56 closed

[2019-12-06 11:51] dselman opened #157 "Request CTO validation is not working"
**Describe the bug**
It is possible to send an invalid request (with respect to the CTO model) and have the Ergo execute.

**To Reproduce**
1. Download the attached template
2. Using the request and state within the archive
3. `cicero execute --request monthlysales-invalid.json --state state.json`
4. Note that execution succeeds, when it should fail

**Expected behavior**
The execution should fail

[2019-12-06 13:46] jeromesimeon commented on #157
Concerto is generally quite lose with validation. Bug or feature?

[code]

[2019-12-12 16:35] jeromesimeon commented on #157
A proposed resolution is to change the validation semantics to be strict. This means atomic values in the JSON will have to be proper instances of the corresponding atomic type.

## Before

### Boolean
[code]

## After

### Boolean
[code]

[2019-12-12 16:35] jeromesimeon commented on #157
Initial PR implementing the proposal is in #161

[2019-12-12 17:11] jeromesimeon opened #162 "Support Parameterized Serialization/Deserialization"
**Is your feature request related to a problem? Please describe.**

Provide the ability to handle variations in the serialized JSON for concerto. An instance of that is a custom-serialisation aligned with the Ergo runtime (See also https://github.com/accordproject/ergo/issues/57 and https://github.com/accordproject/ergo/issues/191).

Some of those variations may have better properties for handling

[2019-12-12 18:31] jeromesimeon commented on #158
No activity on this for a while, I'm releasing the ownership for now.

[2019-12-12 19:41] jeromesimeon commented on #157
The change in this PR is great at identifying potential issues in test. E.g., in Ergo:

https://github.com/accordproject/ergo/pull/724

[2019-12-13 19:52] jeromesimeon commented on #158
Fix to this, changing the serializer `toJSON` to raise a validation error when the Double is `NaN`, `Infinity` or `-Infinity` is in PR #161

[2019-12-16 17:31] jeromesimeon commented on #158
That fix has been refactored to be done in the `resourcevalidator` rather than the `jsongenerator` class, as suggested by @mttrbrts. This provides better and more consistent error messages.

[2019-12-18 20:41] jeromesimeon opened #163 "Concerto 1.0 Goals and Feature List"
## Core Concerto Modeling (with the `1.0-typing` label):
- Validation semantics (#158 #157 ) ✅
- Removing system models (#62) ✅
- Numeric Types Consolidation: Integer / Long / Double / BigInteger (#189)
- New base types: Character / Binary?
- Consolidation of support for relationships (#181) ✅
- Revision to type hierarchy (#180) ✅

## Code Quality & Testing (with the `1.0-QA` label):
- Parameteriz

[2019-12-19 16:59] jeromesimeon commented on #157
Fixed based on proposal in #161 in the `1.0` branch

[2019-12-19 16:59] #157 closed

[2019-12-19 17:00] #158 closed

[2020-02-05 18:33] davidoevans opened #166 "Add support for class diagram relationships in PlantUML generation."
**Is your feature request related to a problem? Please describe.**
The current PlantUMLVisitor implementation does not represent `-->` relationships defined in a concerto model.

**Describe the solution you'd like**
PlantUML generated would show class diagram relationships for property references modelled as `-->` as documented here -> [Class Diagrams Relationships](https://plantuml.com/class-diag

[2020-02-21 20:33] ankingcodes opened #168 "Concerto Model Web Editor"
This has been listed as a project idea for Google Summer of Code 2020, mentored by @DianaLease and @irmerk. I'm new to Concerto but I like the idea of visualizing a contract while coding it in real time. I read the concepts of Concerto modelling [here](https://docs.accordproject.org/docs/model-concerto.html). As per my understanding, following are the points I gathered about the project:

- Create

[2020-02-21 23:12] irmerk commented on #168
Great to see this! Our slack portal is [here](https://accord-project-slack-signup.herokuapp.com/), and we have a #gsoc channel. I think @mttrbrts, @jeromesimeon, and @dselman will be great resources as well regarding Concerto specifically, and @DianaLease and I will be resource overlaps with front-end work.

I would think to get really familiar with Accord Project templates and models and how to b

[2020-02-22 01:44] ankingcodes commented on #168
@irmerk  Agreed ! I have started to draw some models by hand by following the source code at Accord Project Model Repository.

[2020-02-24 10:17] ankingcodes commented on #168
@irmerk I spent some time understanding `jdl-studio`, seems like they used [`nomnoml`](http://www.nomnoml.com/) for making the UML diagram on a canvas.
Then I checked out PlantUML's website, where I tried to convert a `concerto` model code into `UML` and pasted it on their editor. It was able to create an accurate UML diagram for the code.
So, I'd reiterate some points I'd previously discussed.

1

[2020-02-26 16:13] jeromesimeon opened #170 "JSDoc and TypeScript for ModelManager.addModelFiles is inconsistent with code"
**Describe the bug**
The JsDoc says:
[code]
And the typescript signature says:
[code]

But that API call supports both model files as strings or as `ModelFile` objects.

[2020-02-27 09:42] mttrbrts opened #171 "Instance Generation should provide Regex compatible values for fields"
**Is your feature request related to a problem? Please describe.**
When generating a JSON instance for a model with fields that have regex constraints, the generated instances are not valid instances of the model.

**Describe the solution you'd like**
We should use a library such as https://github.com/fent/randexp.js, to safely create sample values that are compatible with regex annotations on mod

[2020-03-01 11:09] mttrbrts opened #172 "Remove Winston Logger"
**Is your feature request related to a problem? Please describe.**
The concerto logger module (`require('@accordproject/concerto-core').Logger`) is used extensively by the rest of the AP stack, however, in most cases, only the console output is actually used. The logger is implemented using the Winston library which introduces an additional 130KB to the concerto bundle size; over 30% of the total

[2020-03-01 14:10] kanav-raina opened #173 "Spelling Mistake in readme"
![protocol_spelling_in_concerto](https://user-images.githubusercontent.com/29794748/75627199-43735080-5bf4-11ea-922c-f7e29264f831.png)

Protocol spelling mistake in Ecosystem>>Cicero>>cicero-engine

[2020-03-02 05:08] kanav-raina commented on #173
updated

[2020-03-02 05:08] #173 closed

[2020-03-02 20:15] DianaLease commented on #168
Do you have the UML you pasted or a screenshot of this? I'd be curious to see it. Thanks!

[2020-03-02 20:22] ankingcodes commented on #168
@DianaLease Thanks for your interest. The UML code and diagram can be found [here](http://www.plantuml.com/plantuml/uml/jPHFRnCn4CNl-HG-Wg3v15NLa082YGijlI0EK_kn67azoyouKlZptM71gXGdu0GfjyreF7xlDy-vL2EnCgQ5JwJgM8ObUSyI9k7FyBRqb903oN9TFzOyJfoHpPsVkqUhfuC0-R6xk73V5iwv9-xQ9ER1bHWMFnP73Jmx-twnHy8TAPOhLLXVvRiSlnGSgF7z1qTco05eofx74Td-LA_8S1D7k61gD4vRDba6ol4hf9aW-AL3xTh8YaAtqKXgq7HSD63wAFkWti8NcTKSnOhy9ynW

[2020-03-02 21:42] jeromesimeon commented on #168
@ankingcodes I'm confused by this issue.

1. UML diagram generations already supported (`concerto compile --target PlantUML`) and this feature is already used to generate diagram in the models library https://models.accordproject.org
2. I thought the proposed project in https://github.com/accordproject/techdocs/wiki/Google-Summer-of-Code#concerto-model-web-editor was about allowing to edit the mod

[2020-03-03 02:39] ankingcodes commented on #168
@jeromesimeon Thanks for this.

Yes, I agree to that. As far as I understood the project, it would be a developer/user writing a model in Concerto which will dynamically generate a diagram. As a example of this, I had shared links to the PlantUML website. specifically [this](https://plantuml.com/) where at the bottom you'd find an editor and a diagram. I'd encourage you to paste some UML code and

[2020-03-03 13:24] jeromesimeon commented on #168
Are we talking about this proposed project? https://github.com/accordproject/techdocs/wiki/Google-Summer-of-Code#concerto-model-web-editor

Maybe I'm wrong, but I was understanding the project as being the other way around: the user edits the graphical representation, and the system generates a model file (`.cto`) from it.

I agree the project description is subject to interpretation about that. M

[2020-03-03 13:33] dselman commented on #168
You are correct - we are trying to reduce the barrier to entry for people creating Concerto models by providing a more guided graphical user experience, so they don't have to learn the textual syntax as a first step.

My ideal editor would have the text and the diagram synchronised, with the user able to edit either...

[2020-03-03 13:40] ankingcodes commented on #168
@jeromesimeon  Yes.

@irmerk and @DianaLease had given an example of jdl-studio ([see here](https://www.jhipster.tech/jdl-studio/)) in the proposal, so I didn't make an assumption of this reverse feature you've mentioned.

@dselman I'd think that relates to jdl-studio

So that means that an user should be allowed to modify a diagram in anyway possible and also the code should change/ be generated

[2020-03-03 13:44] dselman commented on #168
Some core graphical actions might be:
- Add a new class (concept, transaction, asset, participant, event)
- Add a field to an existing class (including arrays)
- Add a relationship from one class to another (subclassing, or a named relationship)

Yes, you can see these equivalents in JDL Studio, and I think something similar for Concerto would be valuable.

[2020-03-03 13:48] ankingcodes commented on #168
@dselman  I think jdl-studio takes up a code and draws the corresponding diagram on a canvas element. I dont think they allow users to directly edit the diagram on the canvas element. Am I getting something wrong ?

[2020-03-03 14:04] ankingcodes commented on #168
I'll try to make a small prototype & I'll share with you all, and then let's discuss more on this.

[2020-03-05 16:52] ankingcodes commented on #168
@irmerk @DianaLease @jeromesimeon After the zoomcall today, I did some thinking about how this project would be useful for end users, especially, since tools of Accord Project are used by people with legal backgrounds. So, for the project, I thought of giving option to user to act as either a developer / a non-developer, according to which the web editor would have a different layout which is as f

[2020-03-05 16:59] DianaLease commented on #168
@ankingcodes Yes, this is definitely on the right track! I wonder if instead of having two separate layouts, if the user could edit the code _or_ the diagram on one page and the other side would update accordingly. Just a thought though, this is great!

[2020-03-05 17:28] ankingcodes commented on #168
@DianaLease The second part of editing the diagram and updating the code seemed rather challenging, but that's a great suggestion and I'll definitely think more on it.

The idea is getting inputs such as class name, properties belonging to a certain class and using that data to automatically write code (in concerto schema language) on a code editor component (for example, monaco editor). I'd be gl

[2020-03-05 18:28] irmerk commented on #168
I like this idea. These mockups make me think of [sankey diagrams](http://sankeymatic.com/build/) and [flowchart generators](https://www.draw.io/). My thought on this is that this concept starts with a non-developer. So a future feature could be a developer writing code and generating a diagram.

But this starts with the non-developer, because there are already tools that developers can likely use

[2020-03-05 20:08] ankingcodes commented on #168
@irmerk I don't fully understand what you meant by this. But I think you're reiterating the point @DianaLease mentioned.
Generating code simultaneously whilst creating the diagram is something that I cannot find a solution to right now, though I am researching on it (perhaps, @jeromesimeon and @dselman can give me some ideas on it), I have a work-around that might satisfy the issue.
How about afte

[2020-03-05 20:21] dselman commented on #168
I'd approach:
1. Find a React compatible graphical editor (boxes, arrows, custom styling, drag, layout ....)
2. Use the editor to edit a diagram model (JSON data structure that represents the model)
3. Write code to convert the diagram model (JSON) to a Concerto text file
4. Write code to convert a Concerto model (use the Concerto ModelManager APIs) to a diagram model

By combining 1-4 you should

[2020-03-05 20:22] dselman commented on #168
Here is the Concerto meta-models (ie. using Concerto to describe the structure of a Concerto model):
https://models.accordproject.org/concerto/metamodel.html

[2020-03-05 20:30] dselman commented on #168
E.g. https://github.com/projectstorm/react-diagrams
(there are probably many others)

[2020-03-06 13:18] Anubhavshakya commented on #168
I have read the whole discussion. After that I conclude that in the summer we are going to built a web class diagram editor for non-developer. please correct me if I'm wrong.
If I'm wrong in that case we have to work on both editor for developer and non-developer then we can give the option to the user to select which type of editor he/she want. We can use this prototype for the landing page of ed

[2020-03-06 13:29] ankingcodes commented on #168
@dselman thanks for your suggestion. I was stuck on what should be used as the intermediate data structure but your comment (JSON) cleared that out for me.

I believe there is code already written for doing this or the reverse of this ?

[2020-03-06 13:35] ankingcodes commented on #168
@Anubhavshakya Thanks for your interest ! But according to the discussions that have taken place recently, this project requires to create a single component that would be usable both to the developer and the non developer.

[2020-03-06 14:22] jeromesimeon commented on #168
@Anubhavshakya I think @ankingcodes is correct. Developers can already use VSCode, or their favourite editors to create models (and do so on a regular basis). I think the main goal here is: what if someone isn't a developer, can they still design a model (and how?).

[2020-03-07 20:01] mttrbrts commented on #172
Fixed in the `release-1.0` branch

[2020-03-07 20:01] #172 closed

[2020-03-07 20:26] mttrbrts commented on #121
Replicate with the following script ...
[code]

This produces the output:
[code]

Compare this to the output another required field with a missing value
[code]

[2020-03-07 20:59] mttrbrts commented on #121
It appears that this is down to instances of the `Typed` class storing properties on the native object, https://github.com/accordproject/concerto/blob/f2d9942d1bda59797216468404d21e545d4d1e07/packages/concerto-core/lib/model/typed.js#L109

This means that all internal API methods for this class and its subtypes are reserved property names, e.g. `accept`, `instanceOf`, `setPropertyValue`, etc.

One

[2020-03-08 18:46] Anubhavshakya commented on #168
@ankingcodes Thanks for your reaction. I know that the project requires a single component. At that time I was thinking that developers and non-developers should have different user interfaces.
@jeromesimeon Yes, the main goal of this project is to develop a web editor. By using editor non-developer can also create the model.
And sorry for the late response because of the Exam.

[2020-03-09 13:58] jeromesimeon commented on #121
@mttrbrts Thanks for the reproducibility + analysis!

I think the easiest would be the last option with a twist: use a prefix which is not allowed in the Concerto syntax (I think `$validate` or `'000validate'` would do the trick).

[2020-03-09 16:48] ankingcodes commented on #168
Since I'm done with discussion regarding the project, I'm closing this issue here.

[2020-03-09 16:48] #168 closed

[2020-03-10 04:33] jeromesimeon opened #180 "Should there be a "top" type, root of the class hierarchy"
Should there be a root of the type hierarchy, akin to `Object` in many object-oriented languages.

Currently each different kind of class has it's own root `Asset` for assets, `Event` for events, etc.

Having a root for the type hierarchy has a number of benefits, most notably when used in the context of a programming language using CTO (as Ergo is). See for instance the related Ergo issue https:/

[2020-03-10 04:41] jeromesimeon opened #181 "Revisions to identifiers & relationships"
(This is a place-holder issue, need more details and explanations).

Current status:
- Identifiers can be and have to be declared on transactions and events, but no other classes
- Relationships are distinguished from simple `has a` properties of a class, and have to be to an identifiable class
- The relationship can be to a resource or to an inline object

Some changes in `release-1.0`:
- Any cla

[2020-03-11 14:15] jeromesimeon commented on #62
Update on this. The `release-1.0` branch includes full removal of application setting systems model. This uses a base system model internally which is as follows:
[code]
Some remaining open issues are listed in the corresponding PR: https://github.com/accordproject/concerto/tree/release-1.0

Those relate to the question of whether we should have a root class for the type hierarchy (https://github.

[2020-03-11 18:14] jeromesimeon commented on #62
@dselman Can we consider this closed based on the latest review and support in `release-1.0`. Remaining related questions (notably on relationships) have their own issues now.

[2020-03-16 05:20] frbrkoala opened #183 "Customize the path for log files directory with environmental variable"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to run concerto in a runtime with limited access to the file system, like in Amazon Lambda, where write permissions are allowed only inside the `/tmp` folder.

**Describe the solution you'd like**
I would like to introduce a new environment variable called `CONCERTO_LOG_FOLDER_PATH` to specify where `@a

[2020-03-16 08:39] mttrbrts commented on #183
Hi @frbrkoala , thanks for opening this. We recently did a major refactor of the way that logging works in preparation for Concerto v1.0 (https://github.com/accordproject/concerto/pull/175).

In this release, we will no longer write log files to disk at all, and you will be able to add custom loggers.

If this addresses your problem, please close this issue

[2020-03-16 08:43] mttrbrts commented on #183
Sorry, I now see your PR. I've approved it and it will get released soon, however, please beware that given the refactor above, this behaviour will change when we release Concerto 1.0.

[2020-03-16 08:43] #183 closed

[2020-03-27 10:37] dselman opened #187 "Functional API and Plain JS Objects"
Concerto would benefit from a non class based API - allowing Concerto objects to be plain old JS objects. You would no longer need to use the `Factory` to create them, or the `Serializer` to convert them to/from plain JS objects.

**Describe the solution you'd like**
Examine all the methods on Resource, Identifiable, Typed etc and move them into a set of functions. The functions could be static me

[2020-03-30 14:22] jeromesimeon commented on #187
I love this idea. Some fairly high-level questions.

- Do we still need all / any of the classes in `model` or would we work directly against the JSON data? I think the later would be great.
- What happens when we remove one of those methods right now, where does it break.
- The visitor pattern is somewhat intimately bound to the structure of the internal classes at the moment. Should we also revi

[2020-03-30 14:44] jeromesimeon opened #189 "Numeric type Improvements"
The specification for Concerto has Integer (32bits) and Long (64bits): https://docs.accordproject.org/docs/model-properties.html#primitive-types

The current implementation supports neither. Integer and Long are treated interchangeably and internally represented as JavaScript numbers. Those are safe only up to [MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Glo

[2020-03-30 18:09] jeromesimeon commented on #187
A bit of a work list, wondering if this makes sense @dselman
-[ ] Remove the classes in `./model` (maybe except resources -- not entirely clear on this)
-[ ] Remove or replace the ./factory` class which is used quite a bit through the stack. It already has a mostly functional interface so may be something to keep, but based on the new API?
-[ ] Remove or replace the to/from serializers. This one h

[2020-03-30 23:20] algomaster99 opened #190 "Define key terms and definitions in a contract/clause"
**Is your feature request related to a problem? Please describe.**
It would be great if we could add a data type whose function will be to define the key terms or definition used throughout the contract. An example of such terms:
![Screenshot from 2020-03-31 04-45-09](https://user-images.githubusercontent.com/35191225/77970683-6fc0e080-730a-11ea-9cea-52299096be64.png)

**Describe the solution you'

[2020-03-31 10:19] dselman commented on #187
These can be removed for 1.0.

It tends to break in the visitors, which usually assume that they are dealing with a Concerto object. The visitors will have to be updated to use the new `Concerto` API to get the type name, namespace etc. This is work, but not terribly complex to refactor.

I suggest that leave visiting the model as-is for now - as that is a much bigger change.

Yes - please see the

[2020-03-31 10:21] dselman commented on #187
For 1.0 only.

Remove for 1.0.

Remove for 1.0.

Agree. Let's do this later.

Agree - but the refactoring should be fairly "mechanical" and not too complex, based on the new `Concerto` API.

[2020-03-31 13:27] dselman commented on #187
Code now has a set of "positive" set of tests which pass. There are still some negative tests to add: data which fails to validate to the schema.

Open issues:

1. `DataTime` fields use `moment-mini` to validate that the string parses as an ISO-8601 date.

2. No handling for default values in the model. This code currently lives in `Typed.assignFieldDefaults`. I think we will need a specific funct

[2020-03-31 13:30] jeromesimeon commented on #187
This is issue https://github.com/accordproject/concerto/issues/162

[2020-03-31 13:36] dselman commented on #162
How hard would it be to make the Ergo JSON deserialisation model aware -- looking up the field type in the model when we hit anything ambiguous (double vs integer etc)?

[2020-03-31 13:41] jeromesimeon commented on #162
Pretty hard. Not only it means you have to navigate through the model at runtime, but you also have to handle "naked" values without a model around them (e.g., `1 + 2` or `1.2 + 2.3` which correspond to instructions on Integer or instructions on Double).

Currently the JSON representation used at runtime for logic execution is self-describing which is a really nice property to have.

[2020-03-31 13:41] jeromesimeon commented on #162
Also: other backends than JavaScript will not have the luxury to do that so we don't want to make that an assumption of the compiler.

[2020-03-31 13:42] jeromesimeon commented on #162
A typical non-trivial example: How do you handle the distinction between `toString(1)` and `toString(1.0)` when all you have in the runtime are JavaScript number?

[2020-03-31 14:00] dselman commented on #162
Thanks, that helps. Could we somehow make those transformations more generic?

E.g.

[code]

Can be transformed to:

[code]
And then transformed back ...?

[2020-03-31 14:15] jeromesimeon commented on #162
That's essentially what the Ergo-specific serialization/deserialization does.

Do you want users to write that kind of JSON? -- if not, you need a distinction between user and internal representation.

This becomes even more acute for backend X different from JavaScript -- but also makes the question/distinction clearer: you will need to validate user JSON into: Java object / Haskell values / WASM

[2020-03-31 14:58] dselman commented on #162
Makes sense.

So this to me feels like it is something that is (largely?) outside the scope of Concerto. Perhaps Concerto could assist in providing a generic transformation like the above: adding type information for any JSON values that are ambiguous: numbers, enums, DateTime? That JSON can then be handled by the respective Ergo backends, based on the execution environment.

[code]

[2020-03-31 15:01] jeromesimeon commented on #162
That's exactly the pipeline but really the type annotations are Concerto types, and if you were doing it outside of Concerto you would essentially replicate the serialisation code (that's what happened for a few releases) -- which creates maintainability costs/issues.

Now I actually think this could be handled really nicely with the right generic transformation and yes separating the validation f

[2020-03-31 15:03] jeromesimeon commented on #162
I had not thought about this before, but the transforms we are talking about isn't all that different from those we do in `concerto-tools` so we could move the Ergo-specific part there. @dselman  any thoughts on that idea?

[2020-03-31 17:26] dselman commented on #162
It's still a little fuzzy to me, but I *think* it makes sense.

[2020-03-31 17:51] jeromesimeon commented on #162
Yes the way that transformation code would work is a little fuzzy to me as well. I wouldn't mind a functional approach to that as well, but it's a marginal concern (mostly to avoid being confused about side effects on the source JSON).

One thought might be to have that transform work as a kind of tree transducer / reducer (where the output type could be anything -- including JSON).

The specific

[2020-05-15 10:42] SGeetansh opened #194 "Username typed incorrectly in MAINTAINERS.md"
In the file MAINTAINERS.md, the GitHub username of the maintainers is typed incorrectly. It is typed as:

- Matt Roberts (dselman)
- Daniel Selman (dselman)
- Jerome Simeon (dselman)

Instead, it should be:
- Matt Roberts (mttrbrts)
- Daniel Selman (dselman)
- Jerome Simeon (jeromesimeon)

[2020-05-15 10:44] dselman commented on #194
Fixed. Thanks!

[2020-05-15 10:44] #194 closed

[2020-05-27 16:40] jeromesimeon commented on #181
_Notes from discussion (@dselman @mttrbrts @jeromesimeon)_

## User stories

- When creating a model, one wants to distinguish "inline" data (e.g., company containing an address) from "relationship" data (e.g., purchase order referencing a company)
- When creating a model, one wants to distinguish external identifiers (e.g., SSN, DB key) from identifiers used for the sole purpose of creating a rel

[2020-06-10 09:47] dselman commented on #181
- [ ] Update peg grammar to allow `identified by` for concepts
- [ ] Update peg grammar to allow `identified` for concepts/assets/participants/transaction/events
- [] Update `ClassDeclaration` to create a new system field `$identifier` for `identified` classes
- [] Merge `Concept` and `Resource` in the model
- [] Update `Factory` to allow concepts to be created with an identifier

[2020-06-30 10:29] dselman commented on #187
Closing this, as the new Concerto class has been merged into the release-1.0 branch.

[2020-06-30 10:29] #187 closed

[2020-06-30 10:30] dselman commented on #180
I *think* we have addressed this now in #181 - do you agree?

[2020-06-30 10:31] dselman commented on #181
Changes have been merged into the release-1.0 branch.

[2020-06-30 10:31] #181 closed

[2020-06-30 10:32] dselman commented on #121
This is now supported via the new Concerto API, merged into the release-1.0 branch.

[2020-06-30 10:32] #121 closed

[2020-06-30 10:33] #62 closed

[2020-07-01 12:53] jeromesimeon commented on #190
This is an interesting issue. I'm not sure how I missed it. I'm a little unclear if this should be:
- A Concerto or a Cicero issue?
- A new base type or a complex type with specific handling in the AP templates

[2020-07-01 12:55] jeromesimeon commented on #180
I _think_ so too!

I am wondering how we decide that it is? Is there any "subtype(Type1, Type2)" call in the API. Or "instanceof(Value,Type)" call in the API?

[2020-07-02 06:39] algomaster99 commented on #190
@jeromesimeon I think we will first have to create a data type for this which I guess makes it a concerto issue. Then we can handle the parsing in cicero.

[2020-07-02 06:57] dselman commented on #190
What functionality would you expect this to have? E.g. within the Contract Editor.

[2020-07-06 11:56] dselman commented on #180
These changes have been merged to the `release-1.0` branch.

[2020-07-06 11:56] #180 closed

[2020-07-16 21:02] jeromesimeon commented on #197
@dselman @mttrbrts Would love to have your thoughts on this issue. I would love to sneak this change into Concerto 1.0.

Concretely the change would be, for the Concerto model:
[code]

Current behaviour:
[code]

New behaviour:
[code]

Some belief:
- For the purpose of validation etc. I don't think this changes anything.
- For Ergo it doesn't change anything, but the serialization is more consisten

[2020-07-17 05:31] dselman commented on #197
If I’ve understood the proposal, you’d like all optionals to be serialised as ‘null’ when absent in the JSON?

Some questions:
- will impact size of the documents (many AP models have many optionals)
- with the serialiser going away post v1 where would we do this? Using the Concerto API we validate the user JS object as-is. It seems awkward to have to specify null for potentially dozens of optiona

[2020-07-25 20:01] jeromesimeon commented on #197
Hm.. interesting questions.
1. Size of the JSON data -- I think this is in the noise, maybe I'm wrong? Do we really care about this level of optimisation?
2. very very good question. I think this is the biggest one. Can we really get away without having some changes to the JSON post validation? (e.g., default values from the model?) If yes, then we might want to consider this quite carefully (or m

[2020-07-25 20:03] jeromesimeon commented on #197
This makes me think we could revisit this / leaves this open until we have a better idea of the "functional validation" change.

[2020-07-28 19:10] dselman opened #199 "Protect log file from read-only file system"
concerto-core cannot be used inside a VSCode extension (client side) because the module fails to load, getting an error when the logger tries to create the `logs` directory.

Note that the logger has been re-implemented for 1.0, so this is a tactical fix.

[2020-09-09 14:11] jeromesimeon commented on #199
@dselman I think we can close this?

[2020-09-09 14:12] jeromesimeon commented on #171
@mttrbrts Is this issue closed by #178 ?

[2020-09-09 14:24] jeromesimeon opened #202 "Offline support for CLI and model loader"
**Is your feature request related to a problem? Please describe.**
Concerto supports both external model resolution and an offline mode (where all the models are assumed to be available locally). It would be useful is that could be exposed to the CLI.

**Describe the solution you'd like**
The ability to use the CLI when offline and all models are locally available. Could be using a `--offline` opt

[2020-09-09 15:21] mttrbrts commented on #171
Yes, thank you!

[2020-09-09 15:21] #171 closed

[2020-09-09 19:08] jeromesimeon opened #204 "Changelog version check inconsistent with release process"
The changelog for `concerto-core` checks version numbers, but expects to check against a future version. But manually updating the version number messes the release scripts which are triggered through GitHub release tags. So we currently do not have a good way to maintain the API changelog, if only through a manual fix _after_ release.

[2020-09-09 21:17] jeromesimeon commented on #204
Fixed in #203

[2020-09-09 21:17] #204 closed

[2020-09-09 21:18] jeromesimeon commented on #202
Added support in #203

[2020-09-09 21:18] #202 closed

[2020-09-15 16:15] jeromesimeon opened #205 "Investigate: switch to different DateTime library than moment (e.g., dayjs)"
moment.js is nice but big and with lots of features we do not use.

We may want to consider switching to a different library which is smaller, if we can. e.g., https://github.com/iamkun/dayjs

https://moment.github.io/luxon/

### Also

We should probably do this anyway, considering the recently posted status of development for moment.js:
https://momentjs.com/docs/#/-project-status/

[2020-09-21 13:01] dselman opened #206 "JSONSchemaVisitor fails with some models"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout: https://github.com/accordproject/models
2. npm i
3. node. build.js
4. See errors generating the schema for some models. E.g.

[code]

**Expected behavior**

Should not fail to generate JSON Schema for valid models.

[2020-09-21 13:17] dselman opened #207 "Include decorators in JSON schema generated by JSONSchemaVisitor"
It would be useful for external tools to have access to Concerto decorator metadata  in the JSON schema.

**Describe the solution you'd like**

Add an additional `decorators` property to classes and fields that have Concerto decorators.

[2020-09-23 11:04] dselman commented on #207
Addressed in https://github.com/accordproject/concerto/commit/a95e1fd365ed3dc40509c8ddb12869f96f6f49af

[2020-09-23 11:04] #207 closed

[2020-09-23 11:04] dselman commented on #206
Addressed in: https://github.com/accordproject/concerto/commit/a95e1fd365ed3dc40509c8ddb12869f96f6f49af

[2020-09-23 11:04] #206 closed

[2020-10-28 21:00] DianaLease commented on #205
Slides comparing Moment vs Dayjs vs Luxon: https://docs.google.com/presentation/d/1bGSR076MzrLslwMMdGPkEg4Hyf_PZDad5kEeV5g5r-E/edit?usp=sharing

Repl comparing usage & performance: https://repl.it/@DianaLease/Comparing-Moment-Alternatives#perf-tests.js

[2020-10-28 21:56] irmerk commented on #205
Went into the call favoring Luxon by a lot, but I think the case was made for Dayjs and we should definitely switch to that. That is, given that we feel the plugins cover our use cases and vanilla JS isn't our pick.

[2020-10-28 21:59] jeromesimeon commented on #205
Thanks for the analysis. I think after today's presentation I agree.

I gave a quick look at https://date-fns.org It looks nice, but is bigger than day.js -- haven't gotten a chance to look at performances and features. One possible benefit is that it relies on JavaScript Date objects so we could, I believe, completely remove dependency to date/time libraries in Concerto, and use it only for evalu

[2020-11-04 19:02] DianaLease commented on #205
List of `moment` methods used in the `concerto-core` package of the release-1.0 branch:
- `Moment().utc()`
- `Moment.parseZone(...)`
- `Moment.isMoment(...)`
- `moment(..., moment.ISO_8601).isValid()`
- `new Moment()`

[2020-11-04 20:55] jeromesimeon commented on #205
A small test to explain each of those:
[code]

[2020-11-04 21:11] DianaLease commented on #205
We also call `.format()` on Moment date objects.
e.g. `obj.format('YYYY-MM-DDTHH:mm:ss.SSS[Z]')` and `obj.format('YYYY-MM-DDTHH:mm:ss.SSSZ')` where `obj` is a Moment date object

[2020-11-06 22:06] DianaLease commented on #205
Reminder that `date-fns` (the library that uses the functional programming approach) has been added to the repl, and I have just now also added it the slides. Same links:
- Slides comparing Moment vs alternatives: https://docs.google.com/presentation/d/1bGSR076MzrLslwMMdGPkEg4Hyf_PZDad5kEeV5g5r-E/edit?usp=sharing
- Repl comparing usage & performance: https://repl.it/@DianaLease/Comparing-Moment-Al

[2020-12-23 18:15] #199 closed

[2020-12-25 15:14] K-Kumar-01 commented on #205
@DianaLease @jeromesimeon @irmerk

Here `dayjs` is better than `moment` in some cases and vice versa.
Also `date-fns` is way better in performance than others.

However, the size of `date-fns` is bigger than both `moment` as well as `dayjs`.

As `dayjs` has a similar API to `moment` we can try that as the migration will be easier in this case.

If the issue is still open, I would like to have a go

[2021-01-19 22:05] jeromesimeon commented on #205
Resolved and implemented in #218.

[2021-01-19 22:05] #205 closed

[2021-01-19 22:29] jeromesimeon commented on #163
Selected features for Concerto 1.0 are now fixed, since we merged the `release-1.0` branch into master. Features the didn't make it to this version can be considered for future releases. I'm closing this issue now.

[2021-01-19 22:29] #163 closed

[2021-02-03 20:39] jeromesimeon opened #228 "Root types have disappeared"
**Describe the bug**

Types `Participant`, `Event`, `Transaction` have disappeared in the `1.0.0` release.

**To Reproduce**

CTO file:
[code]

JSON:
[code]

Should validate, but loading the model throws an error:
[code]

[2021-02-06 15:00] sumadithya commented on #99
Is this issue open?

[2021-02-09 07:48] dselman commented on #228
The linked PR adds the abstract types to the concerto namespace. You will have to import the types/ns to reference them in a CTO file.

[2021-02-09 17:36] dselman commented on #228
Fixed.

[2021-03-11 15:42] tomas99batista opened #235 "Documentation: Concerto Model - Relationships"
[...] Deleting the Order has no impact on the OrderLine. **When the Order is serialized the JSON only the IDs of the** OrderLines are stored within the Order, not the OrderLines themselves.

source: https://docs.accordproject.org/docs/model-relationships.html

[2021-03-11 16:13] mttrbrts commented on #235
Thanks @tomas99batista for raising this issue. Well spotted!

This should probably read something like this instead:

[2021-03-11 16:16] tomas99batista commented on #235
Sounds good to me :+1:
Thanks :smile:

[2021-03-11 16:43] tomas99batista commented on #235
Going to use the same issue to present another one:

**A an optional value can be either present,**

src: https://docs.accordproject.org/docs/logic-complex-type.html#optionals

[2021-03-14 04:06] jeromesimeon commented on #190
Whatever this is, I feel this is mostly related to the models library. We do already have "base" types for requests/responses/obligations/contract state etc. Not sure we need more. Users can define their own kinds of obligations that might be more specific.

Am I missing something?

[2021-03-18 18:51] jeromesimeon commented on #228
I'm unclear that this is properly fixed. A few questions/issues.

1. it's confusing that `Concept` is automatically imported but not the other root types (that's also an unnecessary breaking change imo)
2. it's unclear that the root types for `Transaction` etc are properly placed in the type hierarchy. (See example below)

### Example

**CTO file*
[code]

**data**

[code]
zsh-5.8$ ./index.js valid

[2021-03-18 19:27] dselman commented on #228
I can pick this one up.

[2021-03-19 00:47] jeromesimeon commented on #228
@dselman Sorry I only saw this while I was well on my way there... I've open a PR #237 and maybe with luck you didn't do too much work on this yet. This PR absolutely could benefit from your review and even possibly a bit of a chat.

[2021-03-19 17:46] jeromesimeon opened #241 "Inconsistent identifier handling for ~Assets~ non-Concept Classes"
Identifier handling for Assets seems broken or at the minimum, confusing.

I would expect the two following types `A1` and `A2` to behave the same:
[code]

But they don't:

**Validating A1**
[code]
yields:
[code]

**Validating A2**
[code]
yields:
[code]

(where is the `$identifier` gone).

[2021-03-19 17:50] jeromesimeon commented on #241
I could think of two different ways to handle this issue, both of which I think would be consistent:

1. treat all assets as having a built-in `identified` which means Validating A2 should validate with as:
[code]
   This can be achieved with something like #240
2. treat all assets as other classes, without `identified`
   This can be achieved with something like #237

[2021-03-19 18:09] jeromesimeon commented on #241
Same issue for: `Transaction` `Event` and `Participants`

I believe the problem is this code:
https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-core/lib/introspect/identifieddeclaration.js#L51-L54

[2021-03-19 18:16] jeromesimeon opened #242 "Which classes should have timestamps?"
### Description

It may have been discussed before, but coming back to Concerto 1.0 after a fairly long break I can't really remember what is the intended design for: `timestamp` fields.

I believe those are system generated (like `$identifier` for `identifiable` classes) -- maybe someone can confirm or remembers?

Also at the moment, it seems only: `Transaction` and `Event` classes have timestamp

[2021-03-19 18:22] jeromesimeon opened #243 "CLI support for functional API"
### Description

Since Concerto `1.0.0-alpha`, we have two validation APIs:
- "Object Style Validate": Type -> Data -> ValidatedData
- The experimental "Functional Style Validate": Type -> Data -> Boolean

The CLI only supports the former. It might be useful for testing / experimentation / usability to offer an option on the command line which would use the Functional Style validation.

[2021-03-23 14:50] jeromesimeon opened #244 "Concerto 1.0 generates identifiers even when they should be user-provided"
### Description

I think this should be a bug? I thought user-declared identifiers (with `identified by XXX`) were now meant to be provided by the user -- and distinguished from system generated identifiers (with `identified`).

But Concerto `1.0.0-alpha.2` generates user-declared identifiers. For instance:

**Model**
[code]

**Data**
[code]

Validates as:
[code]

[2021-03-23 15:42] jeromesimeon commented on #244
I'm unclear if that is the intended behaviour though.

[2021-03-23 16:46] dselman commented on #244
That's a bug imo - `id` is declared as an identifier and identifiers are never optional.

[2021-03-23 16:58] jeromesimeon commented on #244
That makes sense to me too!

I think the issue here is that `id` is automatically generated (so it behaves is if it had a default generated value, even when not optional).

[2021-03-23 20:14] jeromesimeon opened #245 "instanceof Identifiable on Concepts"
### Description

We use `instanceof Identifiable` in a variety of places in the code. For instance:

https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-core/lib/serializer/resourcevalidator.js#L126

or  here:

https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-core/lib/serializer/resourcev

[2021-03-27 08:45] Aniruddha-Shriwant commented on #166
@mttrbrts ,
I was willing to work on this but was having some doubts,
https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-tools/lib/codegen/fromcto/plantuml/plantumlvisitor.js#L220-L222

As you can see here it uses `-->` when it extends superClass/has any superClass i.e. it shows the relationship...

Also, I was exploring the Accord Project's m

[2021-03-27 08:45] Aniruddha-Shriwant commented on #101
May I work on this?

[2021-03-27 14:56] Aniruddha-Shriwant commented on #166
Also @mttrbrts, I was having some doubts regarding plantuml generation,
Although the same `plantumlvisitor.js` is used in `concerto-cli` and `https://github.com/accordproject/models`

 I had used `concerto-cli` command for generating plantuml as follows:
 `concerto compile --ctoFiles calendar.cto --target PlantUML `
 The output plantuml was [this](http://www.plantuml.com/plantuml/png/j9PHSoCr3CVV-

[2021-03-27 16:42] jeromesimeon opened #248 "Inconsistent support for empty identifiers"
### Description

Part of the code hints at support for empty identifiers:
https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-core/lib/factory.js#L72

But other parts hint at disallowing it:
https://github.com/accordproject/concerto/blob/c2ecad3e5d52b0e8b1c7caf026d62abbf4f68b6f/packages/concerto-core/lib/serializer/resourcevalidator.js#L160

We

[2021-03-28 12:32] jeromesimeon commented on #245
After some review, I think this is fine. `Identifiable` seems to be the top of the hierarchy for classes used to represent validated data. However, it probably means that some of the above `instanceof` tests might be useless (require a bit more work to clarify).

[2021-03-28 14:50] jeromesimeon opened #249 "The new validation API does not like system generated identifiers"
### Description

In Concerto `1.0.0-alpha.2` It isn't possible to validate against models with system-generated identifiers.

### Example

**Model**
[code]
**Data**
[code]

Results in the following exception:

[code]

[2021-03-28 18:15] jeromesimeon commented on #249
Addressed in #246:

[code]

[2021-03-28 18:16] jeromesimeon commented on #244
Addressed in #246:

[code]

[2021-03-28 18:17] jeromesimeon commented on #243
Addressed in #246:

[code]

[2021-03-28 18:18] jeromesimeon commented on #242
Addressed in #46:

[code]

[2021-03-28 18:20] jeromesimeon commented on #241
Addressed in #246:

[code]

And:
[code]

[2021-03-28 18:21] jeromesimeon commented on #228
Addressed in #246:

[code]

[2021-03-29 13:09] dselman commented on #248
I think we can disallow empty IDs. I don't remember why this was supported. I don't believe we rely on this anywhere.

[2021-03-29 13:31] K-Kumar-01 opened #250 "Validator field for the variable type"
# Feature Request 🛍️

Currently, the JSON schema that is generated by parsing a template does not contain any validator field for a particular variable. It would be really handy there is a validator key in the JSON object

Current object:
[code]

Requested :
[code]

## Use Case

This would ensure the entering of bad data in the variable field in certain circumstances

[2021-03-29 14:28] dselman commented on #250
The Concerto -> JSON Schema conversion does include regex and number bounds validation information. I'm not sure I understand the examples above, which don't appear to be JSON Schema.

[2021-03-29 15:00] K-Kumar-01 commented on #250
@dselman
I think I was a bit unclear.
I am adding an image for the reference
![Issue](https://user-images.githubusercontent.com/59891164/112855560-8db35380-90cc-11eb-9aa9-5a9ead323a3d.png)
Here we see that the type is `variable`
This particular JSON object we get in the `slateValue`(present in web-components) which I assume is done when we parse a template and then draft a clause for the template.

[2021-03-30 19:04] jeromesimeon opened #252 "JobQueue, quo vadis?"
### Description

We have this (arguably) obscure feature in concerto core called a JobQueue: https://github.com/accordproject/concerto/blob/master/packages/concerto-core/lib/introspect/loaders/jobqueue.js

I'm a little unclear as to what purpose it serves. Do we need this? (can we use something more traditional like promises for instance).

Whether we keep this or not, it's especially tricky to te

[2021-03-30 22:01] jeromesimeon commented on #250
That's an interesting question. I'm unsure if anything needs to change in Concerto itself, possibly this is more of an issue for the `markdown-transform`. Also if we want other information passed to Slate, we will need to update the CiceroMark model here: https://github.com/accordproject/models/blob/master/src/markdown/ciceromark%400.3.1.cto

[2021-03-30 22:07] #241 closed

[2021-03-30 22:07] #242 closed

[2021-03-30 22:07] #228 closed

[2021-03-30 22:07] #244 closed

[2021-03-30 22:08] #243 closed

[2021-04-01 14:02] jeromesimeon opened #255 "Pragma for compatible Concerto version on models"
# Feature Request 🛍️

A way for users to declare which version of Concerto the model is compatible with.

## Use Case

Concerto versions are not always backward compatible (e.g., `1.0.0` is not compatible with `0.82` or earlier). When designing model a user may wish to declare which version of Concerto it is compatible with. This would avoid confusing errors when loading certain models and inform

[2021-04-07 22:26] jeromesimeon opened #256 "Ability to specify a UTC offset for DateTime validation"
# Feature Request 🛍️

## Use Case

Cicero templates can be run within a specific timezone, in existing versions specified by giving a current time holding a specific timezone offset. It would be useful to preserve the ability to specific a timezone offset for validation in order to preserve that Cicero feature.

## Possible Solution

Add a `utcOffset` optional parameter to validation, to be used t

[2021-04-08 21:09] #256 closed

[2021-04-11 15:02] #255 closed

[2021-04-11 15:22] #245 closed

[2021-04-11 15:27] #248 closed

[2021-04-13 11:05] jeromesimeon commented on #166
@Aniruddha-Shriwant I believe the issue is for relationships (`has a`) rather than inheritance (`is a`) https://stackoverflow.com/questions/49002/prefer-composition-over-inheritance

[2021-04-13 13:34] Aniruddha-Shriwant commented on #166
Thanks @jeromesimeon, for clearing my doubts I will look into it now :)

[2021-04-15 17:11] jeromesimeon opened #264 "Concerto.instanceOf is misleading or buggy: It can be successful on non valid data"
# Bug Report 🐛

The new `Concerto.instanceOf` call works on non-valid data so can easily be confusing and give the impression that an object is an instance of a class even when it isn't.

[This could be considered "as designed" but I think the call and doc are misleading and will lead to confusion and users believing they have performed validation when they haven't.]

## Example:

[code]

Run:
[co

[2021-04-15 19:53] mttrbrts commented on #264
This is very odd, the implementation appears to ignore all properties (except for `$class`) entirely!
https://github.com/accordproject/concerto/blob/master/packages/concerto-core/lib/concerto.js#L217

[2021-04-18 16:15] #252 closed

[2021-04-19 10:26] mttrbrts commented on #55
@dselman  @jeromesimeon It appears that pegjs is no-longer maintained https://github.com/pegjs/pegjs/issues/667

There is a fork (https://github.com/peggyjs/peggy), however it is fairly nascent.

It this the opportunity to switch to a new technology entirely, perhaps standardise with a parser lib that we use in `ergo` or `markdown-transform`

[2021-04-19 12:27] jeromesimeon commented on #55
Markdown transform uses: https://github.com/jneen/parsimmon

Ergo uses: http://gallium.inria.fr/~fpottier/menhir/

[2021-04-23 18:49] #264 closed

[2021-05-01 14:04] jeromesimeon opened #280 "CLI validation with --ergo option throws an error"
# Bug Report 🐛

`concerto validate --ergo` fails with an obscure error message:

[code]

## Expected Behavior
Validates and returns a JSON consistent with Ergo runtime.

## Current Behavior
Fails with an error message.

[2021-05-01 14:23] #280 closed

[2021-06-29 12:10] Rishabhraghwendra18 commented on #170
@jeromesimeon is this issue open ?

[2021-07-03 12:15] mttrbrts opened #291 "Extending Enums"
# Feature Request 🛍️

I want to prompt a discussion about the extension of enumerated types as a feature in a type systems

## Use Case

Consider the following...
[code]

## Alternative

An alternative solution would be to allow a users define new types through copying rather than extension. E.g.

[code]

## Context

This discussion for the same feature in TypeScript is useful reference, https://g

[2021-07-03 12:32] mttrbrts opened #292 "Union Types"
# Feature Request 🛍️

Proposed syntax
[code]

This would allow new types to be created by composition rather than extension. Sometimes, this a more natural way to model business concepts. See the first example here
https://flow.org/en/docs/types/unions/#toc-disjoint-unions

[2021-07-03 12:39] mttrbrts opened #293 "Update API"
# Feature Request 🛍️
Today, creating new types programmatically requires string manipulation. There is an internal AST for a Concerto definition, but it is not documented nor designed for manipulation.

## Use Case

With an update API, a user could add a new declaration to an existing model, or even build models completely from scratch (e.g. from a graphical tool)

## Possible Solution

As well as

[2021-07-03 13:16] mttrbrts opened #294 "Model generation from JSONSchema definition"
# Feature Request 🛍️

Generate Concerto models from JSONSchema definitions.

## Use Case

This would allow round-tripping between Concerto and (a suitable sub-set of) JSONSchema which would be useful for contexts where client applications standardise on this. For example in microservices applications using OpenAPI definitions.

## Context

JSONSchema is a document validation tool rather than a typ

[2021-07-05 12:17] dselman opened #295 "Convert a Concerto model to GraphQL"
# Feature Request 🛍️
Provide the ability in `concerto-tools` to convert a Concerto model a GraphQL.

## Use Case
APIs defined using GraphQL can model their types using Concerto.

## Possible Solution
Add a new visitor for GraphQL to concerto-tools.

## Context
Investigating using GraphQL server to generate an API.

## Detailed Description

[2021-07-05 14:24] #295 closed

[2021-07-06 11:09] mttrbrts commented on #292
We could also consider disjointed unions, https://jsontypedef.com/docs/jtd-in-5-minutes/#discriminator-schemas

[2021-07-10 12:47] #294 closed

[2021-07-27 14:31] sstone1 opened #301 "jsome > yargs > yargs-parser vulnerability reported by npm audit"
Installing `@accordproject/concerto-core@1.0.4` causes npm audit to report vulnerabilities.

Two of them are caused by the dependency on the `jsome` library:

[code]

The `jsome` library appears to be abandonware, with no update since 2018:
- https://www.npmjs.com/package/jsome
- https://github.com/Javascipt/Jsome

It seems unlikely that they will publish a new version with the dependency changes

[2021-08-04 11:59] jeromesimeon opened #302 "Regular expressions do not work with flags"
# Bug Report 🐛

Regular expressions with flags e.g., `/^[a-zA-Z0-1]*^/u` do not work.

## Expected Behavior

Regular expressions should work with flags.

## Current Behavior

With the given CTO:

[code]

And input data:
[code]

The validation fails:

[code]

[2021-08-04 19:06] jeromesimeon commented on #153
A strategy toward this goal could possibly make use of the new metamodel (i.e., use updates on the metamodel, generate CTO or model manager from them).

[2021-08-04 19:11] jeromesimeon commented on #292
This is a majorly different type system (i.e., switching from OO-style to ensemblist). This will notably make a strongly typed language like Ergo on top of Concerto close to impossible (or very hard).

I would vote against supporting that feature.

A possible alternative type system with a form of union could leverage enums. E.g., see in Swift:https://docs.swift.org/swift-book/LanguageGuide/Enumer

[2021-08-04 19:18] jeromesimeon commented on #292
With the source example in mind:

[code]

[2021-08-04 19:21] jeromesimeon commented on #301
Thanks for the report! @mttrbrts any opinion about the alternatives to `jsome`?

[2021-08-04 19:25] jeromesimeon commented on #291
Indeed we could use inheritance. The cost being some complexity in code using enums that may have to support annotations when building values. How important is this feature really?

[2021-08-05 12:36] #302 closed

[2021-08-07 14:09] jeromesimeon commented on #301
Seems fixed after #306 tested on an empty project with just `concerto-core` as a dependency:

[code]

Audit result:
[code]

[2021-08-07 15:23] jeromesimeon commented on #301
@sstone1 This should be fixed in Concerto `1.1.0` https://github.com/accordproject/concerto/releases/tag/v1.1.0

Still worth trying on your end! Let me know if more issues or if we can close this.

[2021-08-09 09:14] sstone1 commented on #301
@jeromesimeon thanks, can confirm it works fine with concerto v1.1.0!

[2021-08-09 09:14] #301 closed

[2021-08-11 01:50] OliverTod opened #309 "Concerto dependency 'semver' not automatically installed"
The [semver module](https://www.npmjs.com/package/semver) is not automatically installed as part of the concerto-core or concerto-cli install - though it is a required dependency.

This leads to an error message:
![image](https://user-images.githubusercontent.com/73812545/128957348-a3a4de36-b0e4-4ba9-af8c-0ea510b477ce.png)

which can be resolved by separately installing semver.

[2021-08-11 02:53] jeromesimeon commented on #309
@OliverTod Could you please indicate which version of Concerto you were trying to install?

[2021-08-11 03:17] OliverTod commented on #309
@jeromesimeon I was trying to install v1.1.0

I think the problem is that 'semver' is declared in the [concerto-core](https://github.com/accordproject/concerto/blob/ca338eec88fbe95945bb267cd1d1d7fd2b43b194/packages/concerto-core/package.json) `package.json` and [concerto](https://github.com/accordproject/concerto/blob/ca338eec88fbe95945bb267cd1d1d7fd2b43b194/package.json) `package.json` but not in

[2021-08-11 08:14] mttrbrts commented on #309
Interesting, looking at the code, I don't see `semver` used a  direct dependency of any `concerto-cli` module.

What are the steps that you followed, please?

I tried the following ...
[code]

[2021-08-11 09:36] OliverTod commented on #309
Hi Matt - I followed the instructions in the documentation as follows:

(node:11577) ExperimentalWarning: The fs.promises API is experimental
npm WARN EBADENGINE Unsupported engine { package: '@accordproject/concerto-core@1.1.0',
npm WARN EBADENGINE   required: { node: '>=12', npm: '>=6' },
npm WARN EBADENGINE   current: { node: 'v10.15.1', npm: '7.19.0' } }
npm WARN EBADENGINE Unsupported engine

[2021-08-11 09:37] OliverTod commented on #309
The issue went away instantly when I manually installed `semver`

[2021-08-11 10:48] martinhalford commented on #309
@mttrbrts @OliverTod - I can confirm that I got the same error as @OliverTod.
The ran...
`npm install -g semver`
...and the problem was resolved.

[2021-08-11 11:23] Rishabhraghwendra18 commented on #292
Hello everyone . First timer this side . I want to contribute to accordproject , so is the discussion currently going or may I can get this issue to work ?

[2021-08-11 11:51] jeromesimeon commented on #309
It's likely due to a bug in the latest Concerto release where I used `npm audit fix` to address some dependency vulnerabilities, but I believe this collides with `lerna`. I will publish a bug-fix release shortly.

[2021-08-11 11:56] jeromesimeon commented on #309
I can reproduce the error with `npm`:

[code]

[2021-08-11 11:59] jeromesimeon commented on #309
Probably more simply, `semver` is listed in the wrong place (`devDependencies`) in `concerto-core`: https://github.com/accordproject/concerto/blob/ca338eec88fbe95945bb267cd1d1d7fd2b43b194/packages/concerto-core/package.json#L54

[2021-08-11 12:04] mttrbrts commented on #309
That would do it!

[2021-08-11 12:08] jeromesimeon commented on #292
hi @Rishabhraghwendra18 welcome. This is very much on-going. I don't think we have decided we should do this.

[2021-08-11 12:08] mttrbrts commented on #292
Welcome @Rishabhraghwendra18 !

This issue doesn't have strong support right now, and should probably be closed. However, there are several issues tagged with "Good First Issue" across the organization. In Concerto, see this list, https://github.com/accordproject/concerto/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue+%3Aoctocat%3A%22

[2021-08-11 12:09] mttrbrts commented on #291
Closing due to lack of motivating use cases

[2021-08-11 12:09] #291 closed

[2021-08-11 12:16] #309 closed

[2021-08-11 16:42] jeromesimeon commented on #309
@OliverTod  this should now be fixed in Concerto 1.1.1 Could try again please with:

[code]

[2021-08-12 14:04] jeromesimeon opened #313 "Concerto 1.1 does not handle type references in decorators"
# Bug Report 🐛

Although poorly documented, there is a way to use a type reference as the argument in a decorator. For instance:
[code]

The new support for conversions between CTO files and their AST instances of the concerto metamodel does not handle those decorators.

## Expected Behavior

Decorators containing arguments which are type references should be handled (and name-resolved if requeste

[2021-08-12 14:07] jeromesimeon opened #314 "Type name resolution in the new metamodel support does not handle built-in types"
# Bug Report 🐛

Name resolution when importing a CTO file into its JSON syntax tree as instance of the Concerto metamodel does not handle built-in types (e.g., `Concept`, `Participant` etc).

## Expected Behavior

Built in types should be resolved properly in the `concerto` namespace.

## Current Behavior

Name resolution fails when importing a CTO model:
[code]

Type name resolution fails on a de

[2021-08-12 15:04] #313 closed

[2021-08-12 15:04] #314 closed

[2021-08-13 10:31] mttrbrts opened #317 "Test Issue for Discord"
# Discussion 🗣

## Context

## Detailed Description

[2021-08-13 10:46] #317 closed

[2021-08-25 09:31] sstone1 opened #318 "TypeScript definitions wrong for concerto-tools"
All of the code generation classes are exported under a top level `CodeGen` object:

https://github.com/accordproject/concerto/blob/master/packages/concerto-tools/index.js

The TypeScript definitions do not reflect this:

https://github.com/accordproject/concerto/blob/master/packages/concerto-tools/types/index.d.ts

So you can compile TypeScript that does this:

`import { JSONSchemaVisitor } from

[2021-08-25 09:48] sstone1 opened #320 "Generated TypeScript code extends non-existent type Concept"
If you generate or download TypeScript code for a Concerto model such as this one:

https://models.accordproject.org/concerto/metamodel@0.2.0.html

Then you get a nice TypeScript file, but it's invalid as it references a `Concept` type that does not exist and is not imported from anywhere:

[code]

[2021-08-25 10:50] #318 closed

[2021-08-25 13:23] #320 closed

[2021-08-25 13:28] dselman commented on #153
@jeromesimeon can this be closed as "implemented" now?

[2021-08-25 13:38] jeromesimeon commented on #153
@dselman Not really yet if we stick to the letter of the issue.

Two reasons:

1. For model managers obtained from cto files: Currently you can take an individual model file and get the metamodel instance for it. You can also generate a .cto file from that metamodel instance. What you cannot do yet is generate a set of .cto file from all the ModelFiles in the MetaModel.
2. For model managers obtai

[2021-08-25 14:15] dselman commented on #153
I think I get it.

For (1) this doesn't sound like too much work, is it? Loop over a set of meta models and convert each to a CTO file with the correct name in a directory (or in memory) using `FileWriter`. I can take a stab at that, if useful.

For (2), we probably need a discussion and a design. In particular how we deal with referential integrity errors that are introduced during editing. My gu

[2021-08-25 14:21] jeromesimeon commented on #153
yes that's trivial, except maybe for the file generation. would be best to create a `./output` directory as we do for other generations maybe.

agreeing completely. I think the bigger / harder question is what is the update API and what does it operate over (e.g., directly on model manager with CTO generation? or directly on metamodel instance with model manager generation?). Maybe I like the latt

[2021-08-25 14:26] jeromesimeon commented on #153
Some random thoughts:
1. One of the benefit of using the metamodel is that indeed this allows to decouple editing from validation
2. If we have a metamodel to ModelManager loading method, we can get rid of the AST in the model manager
3. Using the metamodel in that way seems generally aligned with the direction of "functional Concerto" which primarily manipulates JSON objects.

[2021-08-25 15:39] sstone1 opened #322 "TypeScript types do not compile due to missing initializers"
Thanks to #318, the generated TypeScript now compiles... mostly. But we get errors about uninitialized variables:

[code]

`Property 'success' has no initializer and is not definitely assigned in the constructor.`

I think there are two approaches to solve this.

**Approach 1) make everything optional**

Ignore the model, make everything optional, and validate it later.

[code]

Pros: solves the p

[2021-08-25 15:48] mttrbrts commented on #322
If I understand correctly, Approach 3. is a superset of Approach 2? i.e. we could switch to using `interface` everywhere, then add classes later as needed?

However, Approach 2 is a breaking change, right?

[2021-08-25 15:52] sstone1 commented on #322
@mttrbrts approach 2 is a breaking change, but given it doesn't work at all in a published release yet, we can probably get away with it!

Approach 3 is a superset, but I think we'd have to get the naming correct now (I prefix, or Impl suffix for classes), otherwise it would be a breaking change later on.

[2021-08-25 16:19] jeromesimeon commented on #322
Note about testing for runtime things.

I'm not sure there is really a very nice way to validate an instance against a type in TypeScript. (maybe someone knows?)

However you can [import a JSON file as a TypeScript module](https://www.typescriptlang.org/tsconfig#resolveJsonModule) (and that JSON will have a nice inferred type!). So you will get type errors if you try something like:

[code]

and t

[2021-08-31 14:42] dselman opened #325 "Concert CTO to CSharp"
# Feature Request 🛍️
Add a new compile target to convert CTO files to CSharp.

## Use Case
Allows CSharp users to model their domain objects using CTO and to generate CSharp code from them.

## Possible Solution

## Context

## Detailed Description

[2021-09-01 09:45] sstone1 opened #326 "Unstable builds difficult to use due to Concerto versions in model files"
When you use an unstable build to test a change that has been merged but not released, the validation for the Concerto version specified in the model file is slightly too strict - in my opinion at least!

For example, with a model file that contains the following:

[code]

You get the following error:

[code]

Which means that you have to go and edit your model file, which seems like unnecessary p

[2021-09-01 12:14] #326 closed

[2021-09-01 19:31] #325 closed

[2021-09-02 09:15] sstone1 opened #330 "Concept validation results in "instance undefined" error message"
If I validate an instance of a concept, which does not have an identifier, then the error message is wrong: `Instance undefined missing required field value2`

The `undefined` is probably the identifier which doesn't exist?

[2021-09-02 18:36] sstone1 opened #331 "TypeScript generation and validation issue for types with dates"
I've got more TypeScript fun!

The following model:
[code]

... generates the following TypeScript:

[code]

... so I set the timestamp field to `new Date()`.

However, `Concerto.validate()` rejects such an object with a validation error. It seems to be expecting a string value for `timestamp`, as when I override the TypeScript code to set the `timestamp` field to an ISO date string, it works fine

[2021-09-03 18:55] jeromesimeon opened #332 "Bug: Generation of MetaModel instance breaks when no declarations"
If there're no declarations in the concerto cto file, the metamodel generation throws and error instead of creating a metamodel with no declarations.

### How to reproduce

[code]

[2021-09-06 15:41] jeromesimeon commented on #332
This is only when fully qualified name resolution is being used:

[code]

[2021-09-06 15:55] #332 closed

[2021-09-08 20:36] dselman opened #336 "Sample Project for Model Transformation"
# Feature Request 🛍️
Provide a sample repo to illustrate model transformation using e.g. the Typescript transform to generate front-end code and the Java or C# transform to generate backend code, publishing the code to module repositories for use in downstream modules.

## Use Case

## Possible Solution

## Context

## Detailed Description

[2021-09-24 10:10] stefanblaginov opened #337 "Add `code` and `status` properties to produced errors"
# Feature Request 🛍️
Add `code` and `status` properties to errors produced by `concerto-core`.

## Use Case
The `code` parameter allows for errors to be handled programatically easier i.e. an error code of `ENTITY_NOT_FOUND`, would be a more resilient way to inform consumers than having to parse an error's `message`.

The `status` parameter is useful in cases where `concerto-core` is part of a RES

[2021-09-24 14:03] jeromesimeon commented on #337
Interesting. Thanks for the new issue @stefanblaginov. Having error codes might be a good idea. I'd love to get more feedback on that from @dselman / @mttrbrts . How important / useful is this compared to other things on our list.

I don't think status `404` makes sense though since this seems more like an http kind of error.

[2021-09-24 14:05] jeromesimeon commented on #337
@stefanblaginov would you be interested in opening a PR for the error codes part?

[2021-10-04 13:51] jeromesimeon opened #339 "MetaModel: Support for exporting full ModelManager (several related CTO models)"
# Feature Request 🛍️

Current MetaModel only supports converting between a single CTO file or ModelFile object and the MetaModel. Names can be resolved if a model manager is passed as well. It would be useful to allow conversion between a set of related CTO files or a full ModelManager and the MetaModel.

## Use Case

- This would allow to have full type information for a model, including its impo

[2021-10-04 13:51] jeromesimeon commented on #339
Preliminary support for this available in #338 with the new Concerto Metamodel version `0.3`.

[2021-10-04 16:48] dselman opened #340 "Migrate from pegjs to peggy"
# Bug Report 🐛
pegjs is [no longer maintained](https://github.com/pegjs/pegjs/issues/667). We should update Concerto to use the new maintained fork called [peggy](https://github.com/peggyjs/peggy)

[2021-10-05 12:10] #340 closed

[2021-11-03 15:23] dselman opened #344 "Update parser to align with meta model"
# Feature Request 🛍️
If the output from the parser was metamodel JSON then it might simplify the code, and allow the CTO -> metamodel code (which use the large parser.js file, generated via Peggy) to be moved into its own package.

## Use Case
Code simplification. Reduce bundle size for people that don't need to populate ModelManager from CTO text.

## Possible Solution
I've made a start at refact

[2021-11-03 16:36] sstone1 opened #345 "Generated TypeScript issues around $class"
- The generated interfaces have no `$class`, when they probably should.
- The generated classes have a static `$class` property, but this should not be static.
- The generated class constructors do not do anything with contained objects - so you end up with a top level class instance that has interfaces for contained objects, which is a bit inconsistent.

[2021-11-05 11:15] dselman opened #346 "JSON Schema export does not include abstract types"
# Bug Report 🐛

JSON Schema generation currently filters out abstract types; breaking export of models that contain arrays of abstract types.

https://github.com/accordproject/concerto/blob/master/packages/concerto-tools/lib/codegen/fromcto/jsonschema/jsonschemavisitor.js#L166

## Expected Behavior

We need to include abstract types, so that reference to these types are valid.

## Current Behavior

[2021-11-05 15:52] #345 closed

[2021-11-10 19:52] Aaditya-23 commented on #166
Is this issue still open? If yes then please assign it to me.

[2021-11-10 20:14] jeromesimeon commented on #166
@Aaditya-23 done.

[2021-11-11 06:59] Aaditya-23 commented on #166
@jeromesimeon thanks for assigning the issue. I had some doubts though. I forked the project concerto repo and cloned it into my pc. But, how do I run the project? Where can I see the plant uml generator?

[2021-11-11 07:10] Aaditya-23 commented on #166
Hey @Aniruddha-Shriwant can your help me out👆?

[2021-11-15 12:35] dselman opened #348 "Cannot use Concerto library in a Typescript project with Webpack"
# Bug Report 🐛

Babel does not support Typescript namespaces. See the thread:
- https://stackoverflow.com/questions/38521466/how-to-use-namespace-typescript-properly-with-webpack
- https://babeljs.io/docs/en/babel-plugin-transform-typescript.html#caveats

## Expected Behavior

Should be able to use Concerto in a Typescript project that uses React + Babel.

## Current Behavior

Usage of MetaModel n

[2021-11-16 11:30] #348 closed

[2021-11-17 17:02] dselman commented on #47
Reopening based on further investigation and how it interacts with Babel:
https://github.com/accordproject/web-components/issues/110

[2021-11-19 04:36] OliverTod opened #351 "Concerto throws an error when importing local files (solved when importing from web url)"
I get the following namespace error when I try and use a concerto CLI command (eg concerto compile) on a model file that imports external models from a local file (contained in the same directory).
![image](https://user-images.githubusercontent.com/73812545/142565543-416c808e-a4ed-4a7f-9df7-aac48b4d4599.png)

I didn't get this issue after I uploaded the cto files to a web server and used the 'from

[2021-11-22 16:35] #47 closed

[2021-11-22 17:28] #346 closed

[2021-11-22 17:30] dselman commented on #153
@jeromesimeon your recent PRs make good progress towards closing this. 👍

[2021-11-23 01:24] #170 closed

[2021-11-23 01:31] dselman commented on #351
The `--model` argument accepts an array of file names, so if you have imports across several files you will need to pass them all into the `--model` argument.

[2021-11-23 01:31] #351 closed

[2021-11-24 01:48] OliverTod commented on #351
Hi @dselman, any chance you could help me figure out the syntax for that? Perhaps it would be helpful for others if we put the syntax in the documentation.

[2021-12-04 09:34] coderSHeE opened #359 "it should be more adv"
# Bug Report 🐛

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

### Desktop
 - OS: [e.g. macOS]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 0.22.15]

## Detailed Description

## Possible Implementation

[2021-12-08 10:21] #359 closed

[2021-12-08 10:22] dselman commented on #344
@jeromesimeon can we close this now?

[2021-12-08 10:23] dselman commented on #293
@jeromesimeon @mttrbrts now that we have moved Concerto to the published metamodel I think we can close this.

[2021-12-08 10:23] #293 closed

[2021-12-08 10:41] dselman opened #360 "Mechanism to define human-readable labels for model elements"
# Feature Request 🛍️
For use cases that create user interfaces from models it is necessary to define human-readable labels for model elements (concepts and properties).

## Use Case
Provide a mechanism to define natural language labels for model elements, supporting a variety of locales.

## Possible Solutions
1. Define a standard set of decorators to capture labels. E.g. `@label("en", "My Fancy C

[2021-12-15 12:56] sstone1 opened #362 "TypeScript codegen for enumerations is not useful"
Given this model:

[code]

This TypeScript enumeration is generated:

[code]

Because no values are provided, they default to 0-4. When using these enumerations to construct JSON objects, the Concerto validator fails because they are serialized as numbers: `Instance undefined invalid enum value 4 for field AddressVerifyDeliverability`

[2021-12-15 15:50] #362 closed

[2021-12-15 15:50] jeromesimeon commented on #344
@dselman indeed we can! the latest parser now generates instances of the meta model. See #350

[2021-12-15 15:50] #344 closed

[2021-12-15 16:02] jeromesimeon opened #364 "[bug] Printing meta model does not preserve Concerto version"
# Bug Report 🐛

When printing  Concerto AST (instance of meta model) with a concerto version, that version information is not included in the CTO file

## Steps to Reproduce

For instance:
[code]

[2021-12-15 16:36] #364 closed

[2021-12-16 15:45] jeromesimeon opened #366 "bug(CTO): when printing fields with both optional and default, those are in the wrong order"
# Bug Report 🐛

When printing a field in a concerto AST with both `optional` and `default`, those are printed in the wrong order which means the resulting CTO string cannot be parsed back.

## Expected Behavior
Properly print fields with both default and optional.

## Steps to Reproduce
[code]

[2021-12-16 16:22] #366 closed

[2022-01-08 23:02] gaurav7019 opened #369 "Slack link in the docs is expired"
# Bug Report 🐛
The old Slack link in the docs has expired as the org has moved to Discord

[2022-01-10 14:55] #369 closed

[2022-01-12 13:04] #360 closed

[2022-01-13 04:18] AbhijithGanesh opened #372 "Minor Typographic Error"
# Bug Report 🐛
Incorrect spelling of `discord`

Instead of `discord` it has been typed as `dsicord`
## Expected Behavior
Ideally the correct spelling should've been mentioned

## Current Behavior

## Possible Solution

## Context (Environment)
Documentation

### Desktop
 - OS: [e.g. windows]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 0.22.15]

[2022-01-13 11:04] mttrbrts commented on #55
This issue is partially address by the introduction of the new `concerto-cto` package which makes the parser an optional dependency. Closing this issue until there is new context for reviewing it again.

[2022-01-13 11:04] #55 closed

[2022-01-13 11:12] mttrbrts commented on #153
@dselman can this be closed now?

[2022-01-13 11:25] mttrbrts opened #374 "Extend VocabularlyManager to include ui-concerto label creation logic"
# Feature Request 🛍️

The new VocabularlyManager introduced in https://github.com/accordproject/concerto/pull/361 includes a missing term generator, https://github.com/accordproject/concerto/blob/master/packages/concerto-vocabulary/lib/vocabularymanager.js#L59-L62.

Similarly the `ui-concerto` package in `web-components` includes some logic to automatically generate terms from model field names. h

[2022-01-13 18:54] pree-T commented on #337
Hello! I want to work on this issue. Can someone help me as I am new to open source contribution?

[2022-01-17 08:24] Jeevan-Kiran-Lenka commented on #374
Hey, @mttrbrts I would like to work on this issue since I'm very overwhelmed don't know from where to start. Can you please assign this to me as I have to get started :)

[2022-01-17 09:56] mttrbrts commented on #374
Welcome @Jeevan-Kiran-Lenka!

In summary, you will need to make changes in two places:
1. Move the logic from `ui-concerto` to `concerto-vocabulary` (line links above).
2. Refactor `ui-concerto` to import `concerto-vocabulary` and then call the missing term generator function.

[2022-01-18 03:28] Jeevan-Kiran-Lenka commented on #374
Thanks for the tip @mttrbts !! Now it is easy to fix this :)

[2022-01-18 05:39] Krish-bhardwaj commented on #331
Hey, @sstone1  I would like to work on this issue since I'm new to opensource i don't know from where to start. Can you please assign this to me as I have to get started

Thanks in advance : )

[2022-01-18 06:32] OmkarAcharekar commented on #330
Hey, @sstone1 , I would like to work on this issue. Can you please assign this to me and explain little bit more about this issue?

[2022-01-20 08:34] Jeevan-Kiran-Lenka commented on #374
Hey!!, @mttrbrts I had some of the following doubts while working on this issue, I would really appreciate it if you can help me solve that.
1. ```javascript
    export const normalizeLabel = (labelName = '') => labelName
    .replace(/([a-z])([A-Z])/g, '$1 $2')
    .replace(/([A-Z])([a-z])/g, ' $1$2')
    .replace(/ +/g, ' ')
    .replace(/^./, str => str.toUpperCase())
    .trim();
* The above f

[2022-01-22 05:55] Jeevan-Kiran-Lenka commented on #372
I guess this issue has been solved?

[2022-01-23 05:22] Rishabh044 commented on #337
HI!! Can I also work on the following issue, Please assign it to me as well if possible

[2022-01-24 14:50] jeromesimeon opened #376 "Confusing error message for out of bound ranges"
# Bug Report 🐛

When validating an instance value which is out of bound for numerical range e.g., `range=[0,10]`) the error message is confusing.

For instance considering the model:
[code]

And instance:
[code]

The error uses the value rather than the upper bound in the message:
[code]

## Expected Behavior

A less confusing error message.

[2022-01-24 15:38] mttrbrts commented on #374
In my understanding both `normalizeLabel` and `camelCaseToSentence` are trying to do the same thing, except that `normalizeLabel` properly handles sequential capital letters, e.g. compare the output of `f("customerSSN")`.

I say, that replacing the implementation of `camelCaseToSentence` with that from `normalizeLabel` and then exposing `camelCaseToSentence` in the `VocabularyManager` API would so

[2022-01-24 15:40] jeromesimeon commented on #376
This bug was originally reported by Adam Milazzo

[2022-01-24 16:47] amanag25 commented on #337
@dselman I think I can solve this issue, it has something to do with the message present in logger.js. Please assign me this issue so that I can get started.

[2022-01-25 04:37] dhruv-joshi-7 commented on #330
@OmkarAcharekar have you started working on this issue? If yes, can you share what have you done so far so that even I can contribute in solving this issue.

[2022-01-27 10:59] mttrbrts commented on #337
It's polluting to put a protocol specific code (e.g. 404 for HTTP) in this library.

Having standardised error codes is valuable, however.

[2022-02-01 18:48] #376 closed

[2022-02-05 04:09] arpit-maurya commented on #331
@sstone1 @DianaLease @dselman Please anybody can give me a more detail of this Issues, am interested to solve this issue

[2022-02-06 14:38] Jeevan-Kiran-Lenka commented on #374
`camelCaseToSentence` results `Customer S S N` whereas `normalizeLabel` produces ` Customer SSN` for the input of `f("customerSSN")`

[2022-02-18 17:41] tech-bash commented on #330
@dselman  sir, I think so its not a bug.

[2022-02-19 05:19] Jeevan-Kiran-Lenka commented on #339
Hey! @jeromesimeon I would like to know more about this `feature-request`, and then to solve this. I would love if you can assign this to me, and give a starting point for this feature-requerst :)

[2022-03-01 14:04] jeromesimeon commented on #372
I can't find a record of this:

[code]

I'm closing.

[2022-03-01 14:04] #372 closed

[2022-03-01 14:05] jeromesimeon commented on #337
@stefanblaginov any update on this?

[2022-03-01 14:54] #374 closed

[2022-03-01 15:27] #330 closed

[2022-03-04 11:04] stefanblaginov opened #389 "Error messages need consistency improvements"
# Bug Report 🐛

The current error messages originating from `concerto-core` have a few inconsistencies that need to improved. Often it's unclear if a part of the error message description refers to a natural language word or a term or value used by Concerto.

## Possible Solution

The following principles should be followed when in comes to error messages:
- Terms should be surrounded by double qu

[2022-03-04 16:30] dselman opened #391 "Decorator Validation"
# Feature Request 🛍️

The current decorator support in Concerto has some issues which were deferred initially due to time constraints.
1. Decorators are not modelled types, rather they have a generic structure
2. Decorators cannot be defined within a namespace and imported / shared

## Use Case

Allow users to define sets of decorators and to import and share them. Ensure that decorator arguments

[2022-03-07 10:41] OmkarAcharekar commented on #189
Hey @jeromesimeon, There are a number of approaches to implementing  Integer, Long.. Really, i would be looking at the Knuth algorithms. If I was being very naive and disinterested in performance, I would write the bit level algorithms directly. But they really would require lots of testing...

[2022-03-07 15:46] sstone1 opened #392 "Provide TypeScript type definitions for built-in models"
# Feature Request 🛍️
Please provide TypeScript type definitions for built-in models, for example for the metamodel and the new decorator sets being introduced under https://github.com/accordproject/models/pull/154

These TypeScript type definitions could be exported from one of the Concerto modules, or a new Concerto module.

## Use Case
Make it easier to work with the built-in models from a TypeS

[2022-03-07 15:48] dselman commented on #392
Should models.accordproject.org publish Typescript models as part of its release workflow?

[2022-03-07 17:33] jeromesimeon commented on #392
I think it already does?

https://models.accordproject.org/address.html
<img width="1374" alt="Screen Shot 2022-03-07 at 12 32 50 PM" src="https://user-images.githubusercontent.com/670099/157087026-b4ebc1de-65b8-4f7f-b180-bec1ff24bb23.png">

[2022-03-07 17:36] jeromesimeon commented on #392
A further note: all the models in `models.accordproject.org` are not _built in_. They are user code.

[2022-03-08 11:00] dselman opened #393 "Declarative application of decorators to a model manager"
# Feature Request 🛍️

Decorators are an important feature of models, however if models are heavily decorated, for a variety of purposes, then the models can become hard to read and maintain. It would be useful to be able to externalise decorators from the model and then to have them declaratively applied.

## Use Case

We have a use case where we need to use models across various UX channels (web/

[2022-03-16 15:23] #339 closed

[2022-03-16 15:25] jeromesimeon commented on #153
I think all the foundations for doing this are in place. It would have to be double checked and also maybe some proper API for this should be discussed, which would allow to facilitate that use case, and document how to do it.

[2022-03-22 10:53] sstone1 opened #402 "TypeScript types are difficult to use"
The TypeScript types are generated as follows:

[code]

This means that you end up having to write verbose code to use the types:

[code]

The problem stems from the way they are exported from `index.js`:

[code]

Switching them to this pattern:

[code]

Results in more common TypeScript types:

[code]

And easier usage of those types:

[code]

[2022-03-22 11:37] #402 closed

[2022-03-25 11:54] sstone1 opened #406 "Port to TypeScript"
Maintaining TypeScript type generation for this project is incredibly painful. See pull request #405 for an example of some of the hacks that we have to maintain to get the correct types generated from the JavaScript code.

It would be much simpler if we ported Concerto to TypeScript. We'd also gain the static typing benefits of TypeScript.

This is probably a candidate for Concerto v3.0.

[2022-03-25 11:56] sstone1 opened #407 "Port to TypeDoc"
To implement #406, we will need to drop JSDoc. JSDoc is pretty much dead anyway. TypeDoc is a good option for TypeScript documentation generation, but there may be other options.

This is probably a candidate for Concerto v3.0.

[2022-03-30 14:03] #393 closed

[2022-04-11 11:14] sstone1 opened #415 "Standalone browser versions of all libraries"
Currently, several modules have UMD versions generated using Webpack:

https://github.com/accordproject/concerto/blob/b05be1d6b619fcadd098b538b85895149ab6ac1d/packages/concerto-core/package.json#L14
https://github.com/accordproject/concerto/blob/b05be1d6b619fcadd098b538b85895149ab6ac1d/packages/concerto-tools/package.json#L13

Only `concerto-core` has the `browser` key set though.

However, in ord

[2022-04-20 20:20] dselman opened #418 "Code Gen support for Protobuf"
# Feature Request 🛍️

Add code to convert a Concerto model to a [Protobuf](https://developers.google.com/protocol-buffers/docs/reference/proto3-spec) file.

## Use Case
Would like to use Protobuf to represent Concerto models.

## Possible Solution
Extend the code generation package and CLI to support Protobuf.

## Context

## Detailed Description

[2022-04-28 12:19] dselman opened #420 "Concerto vNext Proposals"
# Feature Request 🛍️

These are ideas, open for discussion.

## 1. Faceted Primitive Types #433 - 3.x

[code]

References:
- https://www.w3schools.com/xml/schema_facets.asp
- https://docstore.mik.ua/orelly/xml/schema/ch05_01.htm

## 2. Reimplement in Typescript #406 - 4.x (or possibly 3.x if we don't use mm classes)

Generate TS code from the metamodel (bootstrap) and then code the implementation

[2022-05-07 14:35] tbrooke opened #421 "Example in Docs fails"
The documentation at https://docs.accordproject.org/docs/model-api.html has an example

[code]

## Expected Behavior

[code]
## Current Behavior
[code]
## Possible Solution

## Steps to Reproduce

1. Save example to file called test.js
2. run node test.js
3.
4.

## Context (Environment)

### Desktop

  macOS]

## Detailed Description

## Possible Implementation

[2022-05-09 13:10] dselman opened #422 "CodeGen support for OData"
# Feature Request 🛍️

Add support to convert a Concerto model to an OData model:
https://modeling-languages.com/model-driven-development-of-odata-services/

## Use Case

## Possible Solution

## Context

## Detailed Description

[2022-05-09 13:14] dselman commented on #421
The example should use `addCTOModel` instead of `addModelFile`. I will update...

[2022-05-11 15:04] sstone1 opened #426 "Model versioning"
## Introduction

This is a feature proposal for introducing explicit model versioning into the Concerto modelling language. Today, it is only possible to implement model versioning by convention, by inserting a version number into the namespace of a model. This makes it hard to understand what model versions exist in a set of models and how those model versions depend on each other.

We believe in

[2022-05-19 16:26] dselman opened #429 "Add support for discriminated unions to Typescript generator"
# Feature Request 🛍️

Generated discriminated unions (tagged unions) for Concerto models.

## Use Case

Typescript doesn't enforce that you cannot instantiate abstract types - so it would be useful for TS users to be able to generated discriminated unions.

E.g see: https://github.com/dselman/unions

## Possible Solution

[code]

## Context

Trying to generate TS code that is type safe, given that

[2022-05-27 15:49] KyleBastien commented on #429
Just to update from conversation that happened offline. We are going to add support for handling two decorators to support this scenario specifically the `@literal` and `@union` decorator. So updating Dan's example from above it would look like:

[code]

`@literal` will take an `enum` type property, `StepType` in this case, and transform it into a literal value in the TS code gen, setting the prop

[2022-05-30 11:40] dselman commented on #426
I've started working on this.

The first step is to extend the CTO grammar to support specifying a version number for a namespace. The least disruptive change is to add a new `VersionedNamespace` grammar rule and modify the `Model` grammar rule to use it

Eg.

[code]

Note that this approach uses the parser to bake the version number into the namespace, which has some advantages and disadvantages:

[2022-05-30 11:52] mttrbrts commented on #426
Can you say a little more about this? As I understand it, this is exactly the motivation for this issue. I want to discriminate between versions and to take advantage of this, I would expect to have to update client code. What's the blast radius within AP?

[2022-05-30 11:53] mttrbrts commented on #426
In the CTO Grammar, are you excluding pre-release versions deliberately?

[2022-05-31 08:32] mttrbrts opened #433 "Faceted Primitive Types"
# Feature Request 🛍️
Extend the Concerto Modelling Language and Metamodel to support faceted primitive types.

## Use Case
This feature would allow users to reuse validations or restrictions on a property, for example.

Declare:
[code]

Use:
[code]

## Possible Solution
Alternatives for the new keyword:
- `typedef`
- `facet`
- `type`
- `scalar`
- `property`
- `primitive`

## Context

Without this

[2022-06-07 11:10] dselman commented on #426
No. I've updated the description to include pre-releases.

[2022-06-07 11:11] dselman commented on #426
Yes, I think we could print some sort of warning for these and add a "strict" flag to the model manager to reject unversioned models. I think unversioned models would have to be considered last - i.e. they are conceptually "below" version 0.0.0, but are considered "stable".

[2022-06-08 11:17] sstone1 opened #442 "Compare two versions of a model"
# Feature Request 🛍️

Provide an API that can be used to compare two versions of a model, and determine if those versions are compatible or not.

## Use Case

When we have model versioning (#426), then we need to be able to determine if a new version of a model is compatible or not with the previous version of that model. This will allow users to:
- Automatically determine the next version number

[2022-06-14 09:41] sstone1 opened #443 "Decorator command set types and validation"
# Feature Request 🛍️

Provide APIs that allow a user to validate a decorator command set, and TypeScript types that allow a user to process a decorator command set.

## Use Case

Make it easier to work with decorator command sets in consuming applications.

## Possible Solution

Embed the decorator command set model into Concerto as per the metamodel, and expose it in a similar way.

## Context

T

[2022-06-21 16:46] KyleBastien opened #447 "Record type to express key/value pairs"
# Feature Request 🛍️

This proposes the addition of a Record type into the Concerto syntax to be able to express key/value pairs in an object. For example a `Record<String, Foo>` would express a key/value pair where the keys of the objects are `String`'s and the values of this object are `Foo` objects.

You can look more at TypeScript's Record type documentation here: https://www.typescriptlang.or

[2022-06-22 10:12] mttrbrts commented on #447
For the record, Kyle and I discussed this requirement and discussed the following motivations for not adding this feature:

- *Increased complexity for business users* by introducing Generics and a second way to capture an object-style type. There is some value in giving users fewer options to make the language more accessible, at the cost of reduced expressiveness.
- *Making the language less wel

[2022-06-22 10:15] mttrbrts commented on #447
I support this.

We should also discuss the naming and syntax. Do we prefer `Record`, `Map`, `Dictionary`, `Dict` etc.?

Is it possible to adopt a different syntax which is less technical for the Generics requirement? Particularly given the constraint to only allow `String` types for keys.

[2022-06-22 13:36] dselman commented on #447
[code]

[2022-06-22 14:36] KyleBastien commented on #447
I don't think we should just limit to having the user pass in the ValueType, I think that's very limiting for possible future scenarios where a user can pass in other String derivative types (e.g. String literals comes to mind). I also don't think it allows for passing in an Enum as a key type which I think is a requirement.

[2022-06-30 17:58] sstone1 opened #449 "Improved TypeScript generation"
This issue proposes a change to the TypeScript generation that is currently provided by Concerto, to improve the developer experience for developers who wish to build a TypeScript application, where that TypeScript application needs to handle and validate data modelled by Concerto.

# Existing solution

Today, the TypeScript generation generates interfaces for all of the types defined in the speci

[2022-07-11 14:59] jonathan-casey opened #452 "Generating code from a meta-model with "$class: concerto.metamodel.ImportAll" throws a TypeNotFoundException"
# Bug Report 🐛

Given a meta model which imports * from a namespace - for example `com.example.e2e.b.*,` the ModelManager for a supported format will throw an exception when `Visitor.visit(...)` is called. Here is a sample stack trace when working with an `XmlSchemaVisitor` use case :

## Expected Behavior

In this scenario, the ModelManager should resolve all imports regardless if they are define

[2022-07-12 12:55] Jonathan-Casey opened #453 "Concerto Printer should implement functionality for additional formats: JSONSchema, XMLSchema, OData"
# Feature Request 🛍️

At present, Concerto Printer provides functionality to print to `CTO` format, for example `Printer.toCTO(ast)`. This allows 'code gen' for each namespace associated in the meta-model hierarchy.

For example, a metal-model with both a direct and a transitive dependency will have multiple namespaces (one per node in the hierarchy), and therefore we can pull multiple `AST`'s fro

[2022-07-15 09:20] Jonathan-Casey commented on #433
I'd vote for using `type` as the keyword used here, Microsoft are using this approach in some of their other languages:

https://fsharpforfunandprofit.com/posts/type-abbreviations/
https://learntypescript.dev/04/l3-type-aliases

[2022-07-20 15:28] mttrbrts opened #457 "Support for Mermaid UML Class Diagrams in concerto-tools"
GitHub now supports diagrams using the mermaid tool.
https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/

Natively supporting mermaid as a target language for Concerto would allow us to visualise models inside markdown files without relying on the third-party PlantUML API.
https://github.com/mermaid-js/mermaid#readme

The solution would involve writing a new MermaidVisitor that

[2022-07-20 15:35] dselman commented on #457
And the icing on the cake is that we *already* have the visitor!
https://github.com/accordproject/cicero-vscode-extension/blob/master/client/src/mermaidvisitor.ts

[2022-07-22 11:37] #153 closed

[2022-07-25 09:46] dselman commented on #453
I think I prefer to leave the format conversions in the `concerto-tools` package - and callable either via API using their Visitor, or via the `concerto` CLI. The CTO format has a special status in that it is the concrete syntax for the metamodel and is hence lossless.

[2022-07-25 09:46] #453 closed

[2022-07-25 09:52] dselman opened #458 "Drop support for wildcard imports"
# Feature Request 🛍️

Concerto metamodel currently allows the user to import all types from a namespace:

[code]

## Use Case

Wild card imports are risky as a new type can be introduced in the imported namespace that has a name collision with a type in the importing namespace.

## Possible Solution

Drop support for wildcard imports.

## Context
Makes it difficult to build a static dependency gra

[2022-07-25 14:37] dselman opened #460 "Enforce that a namespace doesn't import types from different versions of the same namespace"
# Feature Request 🛍️

A model must only reference a single version of a namespace.

## Use Case

Discourage people creating namespaces that rely on types coming from different versions of the same imported namespace.

## Possible Solution

## Context

## Detailed Description

[2022-07-25 14:38] dselman opened #461 "Enforce that namespace version numbers match when using `import from` syntax"
# Feature Request 🛍️

When importing types from a URL the version number used in the import must match the version number of the imported namespace.

## Use Case

## Possible Solution

## Context

## Detailed Description

[2022-07-25 15:49] sstone1 commented on #458
@dselman could we use the `versionedNamespacesStrict: true` flag for this, so that when versioning is enabled then you cannot use wildcard imports? Then we could drop it altogether when we make `versionedNamespacesStrict: true` the default, which I would think might be a Concerto v3 item.

[2022-07-25 18:11] sstone1 opened #462 "PlantUML exporter produces invalid versioned content"
The PlantUML exporter now produces something like:

[code]

The `@1.0.0` makes this PlantUML content invalid. Looks like it needs to be wrapped in quotes:

[code]

[2022-07-25 18:18] sstone1 opened #463 "XML Schema exporter produces invalid versioned content"
The XML Schema exporter now produces something like:

[code]

The problem is the `@1.0.0` in the `xmlns` attribute names (not the values). This works fine:

[code]

[2022-07-25 18:31] sstone1 opened #464 "OData exporter produces invalid versioned content"
The OData exporter now produces something like:

[code]

I can't validate it to be sure, but I think this is invalid.

https://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/os/odata-csdl-xml-v4.01-os.html#sec_Schema

https://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/os/odata-csdl-xml-v4.01-os.html#sec_Namespace

https://docs.oasis-open.org/odata/odata-csdl-xml/v4.01/os/odata-csdl-xml-v4.01-o

[2022-07-26 08:48] sstone1 opened #465 "Extend CLI to manage Concerto model versions"
# Feature Request 🛍️
Now that model files can contain version numbers, we should extend the CLI so that it can be used to manage Concerto model versions.

## Use Case
I want to increase my model file version numbers when I publish my model files, or set them to a specific value without having to open up a text editor.

## Possible Solution
Do something similar to the `npm version` CLI:

`concerto

[2022-07-26 09:45] dselman commented on #465
One point to bear in mind, is that we don't currently preserve code comments in the CTO files - so if you use the metamodel (AST) to bump the version number and then regenerate the CTO we will lose all the code comments. An alternative would be to parse the CTO file to check that it is valid and then make a textual update to the version of the namespace.

[2022-07-26 18:56] #465 closed

[2022-08-03 19:50] dselman commented on #292
Reopening this, as it has been raised recently by the community - and support has been added for it to the Typescript generator:
https://github.com/accordproject/concerto/issues/429

[2022-08-09 11:35] dselman opened #480 "Import Aliasing"
# Feature Request 🛍️

Allow imported types to be aliased to prevent name collisions.

## Use Case

Allows a namespace X to import types from namespace Y that have the same names as types already present (or imported) into namespace X.

## Possible Solution

[code]

## Context

In general as models become larger and edited by distributed teams it is impossible to ensure name conflicts do not occur

[2022-08-09 11:40] dselman opened #482 "Optimize JSON (De)serialization (Final Types et al)"
# Feature Request 🛍️

## Use Case

Allow modellers to declare that types are "final" and cannot be extended. This allows for optimisation of the serialised JSON, as an array of final types can no longer be polymorphic.

The $class is required in serialised instances because concepts can be extended. We could support the addition of a final keyword which would indicate that a concept could not be e

[2022-08-09 11:59] sstone1 commented on #442
I think this is done now!

[2022-08-09 11:59] #442 closed

[2022-08-18 18:29] sstone1 opened #491 "Top level decorators for model files or namespaces"
# Feature Request 🛍️

I would like to have some way of decorating a model file or a namespace with additional metadata for that model file/namespace.

## Use Case

I would like to have a model file/namespace be able to declare metadata that configures how the C# code generator generates C# code. For example, I would like to have a `@DotNetNamespace('Org.Acme')` decorator that tells the C# code gen

[2022-08-22 13:05] #491 closed, assigned to sstone1

[2022-08-26 16:08] dselman commented on #482
Note that if `$class` is missing we could assume that we need to do a type lookup - if the type found is abstract then we fail with an error.

[2022-08-31 12:56] sstone1 opened #503 "Reserved fields"
# Feature Request 🛍️

Provide a feature similar to the `reserved` keyword in Protocol Buffers (https://developers.google.com/protocol-buffers/docs/proto3#reserved), allowing a model author to reserve a property name for future use, or to mark a property as deleted (but acceptable by the parser).

## Use Case

Removing a field from a concept is a breaking change, requiring a major version bump. Thi

[2022-09-05 14:52] mttrbrts opened #507 "Disambiguate `from` keyword in CTO syntax"
# Discussion 🗣

In the pre-release version of Concerto v3 we use `from` to mean different things:
[code]

This has the effect of restricting the selective imports available for external dependencies, i.e. the following is not possible today.
[code]

I propose that we change the syntax in Concerto v3 to improve the semantics of the keywords and standardise on import syntax.

Some ideas:
[code]

Thi

[2022-09-05 15:26] #460 closed

[2022-09-05 15:26] #461 closed

[2022-09-06 09:13] #507 closed

[2022-09-10 00:34] reachaadrika opened #515 "Apsoc : Adding RootType Parameter and Generating UI Schema"
# Feature Request 🛍️
Add "rootType" parameter to the existing concerto compile command so that jsonschema generation can be more easier and also ui schema generation via the same command .

## Use Case
This UI schema generation and exposing rootType parameter generates schemas that are compatible with react-json-form

[2022-09-12 10:14] dselman commented on #503
Can you elaborate please, including a scenario. I'm struggling to understand how this would work?

[2022-09-14 18:00] sstone1 opened #518 "Repository restructuring"
We now have two implementations of Concerto, one for JavaScript runtimes (https://github.com/accordproject/concerto) and one for .NET (https://github.com/accordproject/concerto-dotnet). It is conceivable that we will have other implementations over time for other languages and runtimes.

We need to think about how we structure the codebase going forwards.

This repository is a mix of things:
1. Th

[2022-09-14 18:06] sstone1 opened #519 "Documentation restructuring"
The documentation for Concerto is currently hosted in the overall Accord Project documentation: https://docs.accordproject.org/docs/accordproject.html

There's a section under "Template Guides" and a reference section for the CLI and JavaScript API.

IMO, the documentation for Concerto is difficult to find if you are only interested in Concerto - it's buried in amongst everything else around Cicer

[2022-09-15 14:26] dselman opened #520 "Concerto Expression Language"
# Feature Request 🛍️

Implement an expression language that uses Concerto types as its type system, and Concerto JSON instances at runtime.

## Use Case

We need a *safe* language to use within Cicero templates, based on the Concerto type system. The language should include a library of basic mathematical, string and date/time functions.

Inspiration:
https://gist.githubusercontent.com/fkereki/183

[2022-09-26 10:20] #464 closed

[2022-09-26 16:35] mttrbrts opened #528 "UUIDs as a primitive type"
It's common for models to need to define properties or identifiers that follow a uniqueness constraint, e.g. following the UUID (universally unique identifiers) standard. https://en.wikipedia.org/wiki/Universally_unique_identifier

Built-in support for UUIDs would allow users to take advantage of known semantics of UUIDs and avoid having to redefine complex regular expressions. Using a built-in ty

[2022-09-27 11:54] dselman commented on #528
Adding a new primitive types is likely quite expensive (requires all code gen visitors to be updated to handle this type, as well as changing the metamodel). A middle path could be to add support for typedefs (a faceted `String`) and then to put some of these common typedefs into a `concerto.types` namespace. This would allow codegen and instance gen to be updated progressively.

[2022-09-27 14:20] dselman commented on #457
GitHub now supports visualising Mermaid within markdown files

https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/

[2022-09-27 15:06] #457 closed

[2022-09-27 15:13] #463 closed

[2022-09-27 15:14] dselman commented on #462
Fixed.

[2022-09-27 15:14] #462 closed

[2022-09-28 13:38] dselman commented on #433
Can we extend another scalar?

[2022-10-18 13:48] dselman opened #536 "Import fails when using semver"
# Bug Report 🐛

[code]

## Expected Behavior

Fully qualified imports should work. E.g.

[code]

## Current Behavior

Import fails due to a bug in the grammar. The SemVer grammar rule fully consumes the string`1.0.0-pr.3472381.Thing` because it is a valid semver string.

## Possible Solution

1. Different delimiter to separate semver string and type name
2. Something procedural inside the parser?

[2022-10-23 07:43] semihtheresearcher opened #540 "Getting the same error, powershell does not recognize ergo or concerto"
![image](https://user-images.githubusercontent.com/95018675/197380357-53c2c584-8fed-4263-b24e-17a7bc4a48f2.png)
NPM is installed

I run this command, no problem: npm i -g @accordproject/concerto-cli

then I run this command: concerto compare --old model.cto --new model-with-changes.cto

But I'm getting aforementioned error.

C:\Users\Administrator\Desktop\work_study\VS> this path is added as a PAT

[2022-11-02 11:18] dselman commented on #520
https://github.com/LeanyLabs/formula-engine

[2022-11-02 16:02] DS-AdamMilazzo opened #542 "Concerto should allow $class to be omitted or abbreviated when it's obvious from context"
The need to provide a full $class declaration on every subobject in an object tree adds a lot of redundant information to a serialized Concerto object. In nearly all cases it could be removed or abbreviated without loss of information. This has a few benefits:
- Less redundant and more aesthetically pleasing data
- Closer to the "just the data, please" ideal
- Easier to programmatically manage cha

[2022-11-02 16:15] DS-AdamMilazzo commented on #482
I would suggest that the "final" feature is not needed for this, and you could get the desired savings in more situations via a more general mechanism. Since objects are naturally processed and validated recursively, you should already know the parent's type when you encounter a field value. From the parent's type definition, you already know the declared type of the field. $class could simply be

[2022-11-07 19:40] sstone1 opened #543 "Sets"
Currently in a Concerto model, it is not possible to define a field as being a set - a collection of unique values.

# Feature Request 🛍️
Allow a model author to define a field as being a set, and at validation time enforce uniqueness on the values in stored in that set.

## Use Case
Imagine a model that backs a multiple choice question in a survey, such as "Which of these fruits do you like?".

T

[2022-11-07 20:07] mttrbrts commented on #543
I like it, this feature would pair nicely with #447

[2022-11-11 10:22] #418 closed

[2022-11-17 09:51] mttrbrts commented on #528
Closing in favour of #433 as per @dselman's suggestion.

[2022-11-17 09:51] #528 closed

[2022-11-29 08:29] mttrbrts opened #552 "Concerto assumes UTC for unqualified "Local Time" DateTime values"
# Bug Report 🐛

When validating data against a model with the Concerto CLI, dates with the format `YYYY-MM-DD` are assumed to be in UTC. In general, this same issues is present for all DateTime values that are unqualified, i.e. they don't specify a zone designation.

## Expected Behavior
When an unqualified date, or date-time value is provided (i.e. one without an explicit `Z` or offset component)

[2022-11-29 17:21] DS-AdamMilazzo commented on #552
First, In the example you gave, there is no time representation, only a date representation. The value has no time zone at all and the snippet from ISO 8601 does not apply. (But as you mentioned, the bug report applies to date-times as well.)

Perhaps _some_ users expect it to assume local time, but it's not what I, as a user, would expect. I would expect a date-time with no time-zone information